---
import { aboutUsFoundersData } from "../constants/aboutus";
import Ellipse from "../../assets/Aboutus/Ellipse.png";
import { Image } from "astro:assets";
---
<section class="bg-[#F6F4F2] font-sans-instrument pb-20">
  <h1 class="text-[36px] sm:text-[48px] lg:text-[68px] italic text-center py-10 sm:py-20 px-5 lg:px-0">The Minds Behind EyEagle</h1>
  <div class="flex flex-col gap-10 items-center justify-center px-6">
    {aboutUsFoundersData.map((founder) => (
      <div class="bg-white rounded-md flex flex-col lg:flex-row gap-5 p-6 sm:py-[54px] sm:px-[46px] w-full max-w-[1280px] relative">
        <div class="flex-shrink-0">
          <h1 class="text-[24px] sm:text-[32px] font-semibold">{founder.name}</h1>
          <p class="text-[16px] sm:text-[18px] text-gray-600">{founder.title}</p>
        </div>

        <div class="flex flex-col lg:flex-row items-center justify-center gap-6 lg:gap-10 w-full">
          <div class="relative h-[200px] w-[200px] sm:h-[300px] sm:w-[300px] lg:h-[373px] lg:w-[373px]">
            <Image
              src={founder.photo}
              alt={`${founder.name}'s Photo`}
              class="object-cover h-full w-full rounded-full"
            />
            <Image
              src={Ellipse}
              alt="Ellipse Decoration"
              class="absolute top-[-10px] right-[10px] sm:top-[-20px] sm:right-[20px] h-[50px] w-[40px] sm:h-[70px] sm:w-[60px]"
            />
          </div>
          <p class="text-[18px] sm:text-[24px] lg:text-[32px] font-semibold text-center lg:text-left max-w-full lg:max-w-[482px]">
            {founder.speech}
          </p>
        </div>
      </div>
    ))}
  </div>
</section>
