---
import { aboutUsFoundersData } from "../constants/aboutus";
---
<section class="bg-[#F6F4F2] pb-20">
  <h1 class="text-[68px] italic text-center py-20">The Minds Behind EyEagle</h1>
  <div class="flex flex-col gap-10 items-center justify-center">
    {aboutUsFoundersData.map((founder) => (
      <div class="bg-white rounded-md flex flex-col lg:flex-row gap-5 py-[54px] px-[46px] w-[1280px] relative">
        <div>
          <h1 class="max-w-[166px] text-[32px] font-semibold">{founder.name}</h1>
          <p class="max-w-[166px] text-[18px]">{founder.title}</p>
        </div>
        <div class="flex flex-col lg:flex-row items-center justify-center gap-10 w-full">
          <div class="relative h-[373px] w-[373px]">
            <img src={founder.photo.src} alt={`${founder.name}'s Photo`} class="object-cover h-full w-full" />
            <img
              src="../../src/assets/Aboutus/Ellipse.png"
              alt="Ellipse Decoration"
              class="absolute top-[-20px] right-[10px] h-[90px] w-[70px]"
            />
          </div>
          <p class="max-w-[482px] text-[32px] font-semibold">{founder.speech}</p>
        </div>
      </div>
    ))}
  </div>
</section>
