---
import { aboutUsFoundersData } from "../constants/aboutus";
import { Image } from "astro:assets";
---
<section class="bg-white font-sans-instrument pb-20 px-5 lg:px-[40px] py-[100px] lg:py-[200px]">
  <div class="xl:container">
    <div class="w-full pb-[100px] lg:pb-[200px]">
      <p class="text-[#CC0000] font-medium text-center text-[18px] leading-[21px] mb-2">TEAM</p>
      <h1 class="font-semibold text-center text-[40px] lg:text-[68px] leading-[44px] lg:leading-[78px]">The Minds Behind <span class="text-[#CC0000]">EyEagle</span></h1>
    </div>
<div class="w-full flex flex-col gap-[80px] lg:flex-row justify-center items-center">
  {aboutUsFoundersData.map((founder, index) => (
    <div class="bg-[#ffffff] rounded-lg flex flex-col gap-5 h-full relative overflow-hidden group">
            <div class="relative bg-white m-auto rounded-lg">
        <Image
          src={founder.photo}
          alt={`${founder.name}'s Photo`}
          class="rounded-lg w-full h-full object-cover transition-all duration-300 group-hover:opacity-60"
        />
        <div 
  class="absolute inset-0 bg-gradient-to-b from-[#CC0000] to-[#660000] flex items-center justify-center text-center p-5 opacity-0 pointer-events-none transition-all duration-300 group-hover:opacity-90 group-hover:pointer-events-auto md:opacity-0 md:pointer-events-none" 
  data-speech-overlay
>
  <p class="font-medium text-[20px] leading-7 text-white pt-5 min-h-[120px]">
    {founder.speech}
  </p>

  <button 
    class="absolute top-3 right-3 text-white text-[24px] md:hidden"
    data-close-btn
  >
    ✖
  </button>
</div>
      </div>
      <div>
        <div class="flex-grow flex flex-col">
          <h1 class="text-[20px] font-medium leading-6 text-[#000000]">{founder.name.toUpperCase()}</h1>
          <p class="font-medium leading-[17px] text-[16px] text-[#828282]">{founder.title}</p>
          <p class="font-medium leading-[20px] text-[14px] text-[#000000] max-w-[226px] mt-2">
            {founder.experience}
          </p>
        </div>
      </div>

    </div>
  ))}
</div>
    
</div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const overlays = document.querySelectorAll("[data-speech-overlay]");
    const closeButtons = document.querySelectorAll("[data-close-btn]");

    closeButtons.forEach((button, index) => {
      button.addEventListener("click", function () {        
        overlays[index].classList.add("hidden"); // Hide the speech overlay
      });
    });
  });
</script>
