---
import Image from "../components/common/OptimizedImage.astro";
import MainLayout from "../layouts/MainLayout.astro";
import contactLogo1 from "../assets/Common/contactLogo1.png";
import contactLogo2 from "../assets/Common/contactLogo2.png";
import contactLogo3 from "../assets/Common/contactLogo3.png";
import contactLogo4 from "../assets/Common/contactLogo4.png";

const metaTitle = "Reach Out for Queries & Support - Contact EyEagle";
const metaDesc =
  "Need help or have questions about EyEagle’s emergency alarm systems? Contact us today for reliable customer support and assistance.";
---

<MainLayout title={metaTitle} desc={metaDesc} schemaType="ContactPage">
  <section
    class="bg-[#F6F4F2] lg:px-[56px] font-sans-instrument px-4 grid max-lg:gap-10 py-16 lg:py-24"
  >
    <div class="text-center">
      <p class="font-medium text-lg leading-[21px] text-[#CC0000] mb-2">
        CONTACT US
      </p>
      <h1
        class="font-medium lg:text-[72px] lg:leading-[79px] text-[40px] leading-[44px] lg:mb-10 mb-5"
      >
        Get in Touch <br /> With Our <span class="text-[#CC0000]">Team</span>
      </h1>
      <p
        class="font-medium text-[32px] lg:leading-7 leading-[44px] lg:mb-20 mb-[60px]"
      >
        For inquiries, support, or subscription-related questions
      </p>
    </div>
    <div class="grid lg:grid-cols-2 justify-center items-center gap-[60px]">
      <div
        class="border border-[#0000001A] rounded-[10px] p-6 shadow-[0px_0px_12px_0px_#0000001A]"
      >
        <Image src={contactLogo1} alt="" class="pb-8" />
        <h2 class="font-medium text-2xl leading-6 pb-5">
          Merchant Legal entity name
        </h2>
        <p class="font-medium text-lg lg:leading-[21px] leading-[40px]">
          PIDANA Technologies Pvt. Ltd.
        </p>
      </div>
      <div
        class="border border-[#0000001A] rounded-[10px] p-6 shadow-[0px_0px_12px_0px_#0000001A]"
      >
        <Image src={contactLogo2} alt="" class="pb-8" />
        <h2 class="font-medium text-2xl leading-6 pb-5">Support Email</h2>
        <a
          href="mailto:support@eyeagle.ai"
          class="font-medium text-lg text-[#CC0000] leading-[21px] hover:cursor-pointer hover:underline"
          >support@eyeagle.ai</a
        >
      </div>
      <div
        class="border border-[#0000001A] rounded-[10px] p-6 shadow-[0px_0px_12px_0px_#0000001A] h-full flex flex-col"
      >
        <Image src={contactLogo3} alt="" class="pb-8" />
        <h2 class="font-medium text-2xl leading-6 pb-5">Registered Address</h2>
        <p class="font-medium text-lg leading-7 tracking-wide">
          BHIVE Workspace - No.112, AKR Tech Park, "A" and "B" Block, 7th Mile
          Hosur Rd, Krishna Reddy Industrial Area, Madivala, Bangalore,
          Bangalore South, Karnataka, India, 560068
        </p>
        <!-- <a href="https://maps.app.goo.gl/CTSoBpsFi6zbqWkP9" class="text-base leading-7 font-medium px-3 py-3 border-2 rounded-[8px]">GET DIRECTION</a> -->
      </div>
      <div
        class="border border-[#0000001A] rounded-[10px] p-6 h-full flex flex-col shadow-[0px_0px_12px_0px_#0000001A]"
      >
        <Image src={contactLogo4} alt="" class="pb-8" />

        <h2 class="font-medium text-2xl leading-6 pb-5">
          Support Phone Number
        </h2>

        <p class="font-medium text-lg leading-7">
          +91&nbsp;&nbsp;94296&nbsp;94911
        </p>
      </div>
      <!-- <div class="border-[#0000001A] p-6 rounded-[10px] border">
          <Image src={contactLogo3} alt={'contactLogo1'} class="pb-8"/>
          <h3 class="font-medium text-2xl leading-6 pb-5">Operational Address</h3>
          <p class="font-medium pb-8 text-lg lg:leading-[21px] leading-[40px]">A-101, DSR ULTIMA, HARALUR ROAD, BANGALORE, Karnataka
            PIN: 560102</p>
            <a href="https://maps.app.goo.gl/CTSoBpsFi6zbqWkP9" class="text-base leading-7 font-medium px-3 py-3 border-2 rounded-[8px]">GET DIRECTION</a>
        </div> -->
    </div>
  </section>
</MainLayout>
