---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact Us">
    <section class="bg-[#F6F4F2] lg:px-[80px] font-sans-instrument px-4 lg:py-[120px] lg:flex grid max-lg:gap-10 py-10 lg:justify-around justify-center max-lg:items-center lg:pt-36">
        <div class="grid gap-8 justify-center items-center text-center">
        <h1 class="font-normal text-[52px]">Contact Us</h1>
        <h3 class="mt-10 font-normal text-lg">For inquiries, support, or subscription-related questions:</h3>
        <p class="font-normal text-lg">Merchant Legal entity name: PIDANA TECHNOLOGIES PRIVATE LIMITED</p>
        <p class="font-normal text-lg">Registered Address: A-101, DSR ULTIMA, HARALUR ROAD, BANGALORE, Karnataka, PIN:
          560102</p>
        <p class="font-normal text-lg">Operational Address: A-101, DSR ULTIMA, HARALUR ROAD, BANGALORE, Karnataka, PIN:
          560102</p>
        <p class="font-normal text-lg">📧 Support Email: contact.eyeagle@gmail.com</p>
        </div>
    </section>
</MainLayout>
<style>
    .invalid-feedback,
    .empty-feedback {
      display: none;
    }
  
    .was-validated :placeholder-shown:invalid ~ .empty-feedback {
      display: block;
    }
  
    .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
      display: block;
    }
  
    .is-invalid,
    .was-validated :invalid {
      border-color: #dc3545;
    }
  </style>
  
  <script is:inline>
     const form = document.getElementById("form");
  
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      form.classList.add("was-validated");
      if (!form.checkValidity()) {
        form.querySelectorAll(":invalid")[0].focus();
        return;
      }
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      location.href = `mailto:${object?.replyto}?subject=Request to Connect - ${object.name}&body=Hi,%0D%0A%0D%0A${object?.message}%0D%0A%0D%0ARegards,%0D%0A${object?.name}%0D%0A${object?.phone}%0D%0A${object?.email}`;
      form.reset();
      form.classList.remove("was-validated");   
    });
  </script>