---
import MainLayout from "../layouts/MainLayout.astro";
import HeroSection from "../assets/Navbar/HeroSection.png"
import doctorImage1 from "../assets/Navbar/doctorImage1.png";
import doctorImage2 from "../assets/Navbar/doctorImage2.png";
import doctorImage3 from "../assets/Navbar/doctorImage3.png";
import doctorImage4 from "../assets/Navbar/doctorImage4.png";
import ourTeam from "../assets/Navbar/ourTeam.png";
import desireImage from "../assets/Navbar/desireImage.png";
import { Image } from "astro:assets";
import BathroomSection from "../components/Home/BathroomSection.astro";
import {bathroomData,takeCareData} from "../components/constants/home";
import OurTeamSection from "../components/Home/OurTeamSection.astro";
import DesireSection from "../components/Home/DesireSection.astro";
---
<MainLayout>
  <!-- Hero Section -->
  <section class=" h-[856px]">
    <img
      src={HeroSection.src}
      alt="Emergency prevention"
      class="w-full h-full object-cover"
    />
  </section>

  <!-- Statistics Section -->
  <section class="py-16 bg-white">
    <div class="container mx-auto px-4">
      <p class="text-center text-[52px] mb-8 mx-32 leading-[62px] font-normal">
        According to the World Health Organization, millions of elderly
        individuals, including our parents, experience falls each year, many
        leading to serious injury or hospitalization.
      </p>
      <p class="text-center text-red-600 text-[52px] font-normal">
        But it doesn't have to be this way.
      </p>
    </div>
  </section>

  <!-- Scroll section -->
  <section class="my-24">
    <div class="overflow-x-auto w-full h-[333px] flex gap-4 containers pl-11">
      <img src={doctorImage1.src} alt={"doctorImage1"}/>
      <img src={doctorImage2.src} alt={"doctorImage2"}/>
      <img src={doctorImage3.src} alt={"doctorImage3"}/>
      <img src={doctorImage4.src} alt={"doctorImage4"}/>
    </div>
  </section>

  <!-- Product Features Section -->
  <section class="py-24 px-20">
    <div class="mx-auto px-4">
      <div class="flex justify-center">
        <h2 class="text-[52px] mb-8 mx-32 leading-[62px] font-normal text-center max-w-3xl">
          The most <span class="text-red-600">complete bathroom</span> safety you've ever seen
        </h2>
      </div>
      <div class="pt-12 grid gap-12">
        {bathroomData?.map((item)=>
          <BathroomSection item={item} />
        )}
      </div>
    </div>
  </section>

  <!-- Team Section -->
  <OurTeamSection item={ourTeam}/>

  <!-- Services Section -->
  <section id="services" class="py-16">
    <div class="mx-auto px-4">
      <h2 class="text-[52px] font-normal mb-12 text-center">
        We take care of <span class="text-red-600">everything</span>
      </h2>
      <div class="grid gap-8">
        {takeCareData?.map((item)=>
        <BathroomSection item={item} />
      )}
      </div>
    </div>
  </section>

  <!-- Desire Section -->
  <DesireSection item={desireImage}/>

</MainLayout>

