---
export const prerender = false;
import MainLayout from "../layouts/MainLayout.astro";
import { WaitlistFormData, WaitlistHeaderData } from "../components/constants/waitlist";
import WaitListBanner from "../components/Waitlist/WaitListBanner.astro";
import PostFormField from "../components/Waitlist/PostFormField.astro";
import { URLS } from "../utils/urls";
import { countries } from "../components/constants/common";
import Icon from "../components/common/Icon.astro";
import BathroomSection from "../components/Home/BathroomSection.astro";
import { bathroomData } from "../components/constants/home";

let formPosted=false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("userName");
    const email = data.get("userEmail");
    const countryCode = data.get("phCode");
    const phoneNumber = data.get("phoneNumber");
    const city = data.get("userCity");
    const acceptance = data.get("userAcceptCheck");
  
    const payload={
      name,
      countryCode,
      mobileNumber:phoneNumber,
      email,
      city,
      isNewsletterSubscribed: acceptance==='on' ? true : false
    }
  
    const response = await fetch(URLS.USER_WAITLIST_API, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(payload)
    });

    const resData = await response.json();        
      if(resData?.status==="success"){
        formPosted = true; 
      }   
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---

<MainLayout title="Join">
  <section class="bg-[#F6F4F2] font-sans-instrument">
    <section
      class="xl:container px-[20px] py-[20px] md:px-[80px] md:py-[100px]"
    >
      <section class="p-10">
        <h1
          class="lg-max-w-[1200px] text-center"
          set:html={WaitlistHeaderData.title}
        />
        <p
          class="text-[18px] font-medium text-center lg:max-w-[863px] m-auto my-10"
        >
          {WaitlistHeaderData.description}
        </p>
      </section>
      <div id="pointers" class=`${formPosted ? "hidden" : "block"}`>
        <WaitListBanner />
      </div>
      <section
        class="flex flex-col md:flex-row justify-center gap-[50px] lg:gap-[120px]"
      >
        <div class=`${formPosted ? "hidden" : "block"}`>

          <div
          class="flex flex-col justify-center items-center gap-3 "
        >
          <form method="POST"  class="flex flex-col gap-3" onsubmit="

handleSubmit()">
            <label> Name* </label>
            <input
              type="text"
              name="userName"
              placeholder="Enter name"
              required
              class={`md:w-[628px] p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px]  `}
            />
            <label> Phone number* </label>
            <div class={`relative md:w-[628px] `}>

            <div class="absolute  h-full">
              <div id="dropdownButton" class="inset-y-0 left-0  bg-transparent px-2 text-[#666666] text-[16px] border-2 border-[#9C9C9C] border-r-0 rounded-l-xl focus:outline-none h-full !bg-[#F6F6F6] w-auto min-w-[110px] flex justify-between items-center cursor-pointer">
                <span>
                    <Icon iconName="keyboard_arrow_down" classNames="mt-2 hidden"/>
                </span>
                <div class="flex items-center gap-2">
              </div>
              </div>
              <input id="phCode" name="phCode" value="" class="hidden"/>
                          <div id="dropdownMenu" class="absolute mt-1  bg-white border border-gray-300 rounded-md shadow-md hidden text-black  max-h-[250px] overflow-y-scroll w-52">
                
                  {countries
                  .sort((a, b) => a.code.localeCompare(b.code))
                  .map((country) => (
                    <div
                    id={country?.code}
                    class="px-4 py-2 cursor-pointer hover:bg-gray-300 text-black flex items-center gap-2"
                      data-value={country?.dial_code}
                    >      
                      <img src={`https://flagcdn.com/w40/${country.code.toLowerCase()}.png`} alt={`${country?.code}flag`} width="20"/> {country.dial_code}
                    </div>
                  ))}
                </div>
            </div>   
                       <input
                type="number"
                name="phoneNumber"
                placeholder="Phone Number"
                id="phoneNumField"
                maxlength={10} 
                required
                class={`md:w-[628px]  p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px] `}
              />
            </div>
    
            <label> Email* </label>
            <input
              type="email"
              name="userEmail"
              placeholder="Enter Email"
              required
              class="md:w-[628px] p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px]"
            />
    
            <label> City of Installation* </label>
            <input
              type="text"
              name="userCity"
              placeholder="City Name"
              required
              class="md:w-[628px] p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px]"
            />
            <div class="flex justify-start items-center gap-2">
    
            <input type="checkbox" name="userAcceptCheck" class="h-[18px] w-[18px]  border border-gray-400"/><span class="text-[#666666]">{WaitlistFormData.acceptation}</span>
            </div>
    
            <button
              class="md:w-[628px] p-4 rounded-[30px] text-white bg-[#CC0000] font-medium mt-[8px]"
              >{WaitlistFormData.buttonTitile}</button
            >
          </form>
        </div>
        </div>
        <div  class=`${formPosted ? "block" : "hidden"}`>
            <PostFormField/>
            </div>

      </section>
      <div class="pt-60 grid lg:grid-cols-4 gap-12">
        {bathroomData?.map((item)=>
          <BathroomSection item={item} mobile={false}/>
        )}
      </div>
    </section>
  </section>
</MainLayout>

<script is:inline define:vars={{countries}}>
  const dropdownButton = document.getElementById("dropdownButton");
  const dropdownMenu = document.getElementById("dropdownMenu");
  const phCode = document.getElementById("phCode");
  const phoneNumField = document.getElementById("phoneNumField");
  const iconSpan = document.createElement('span');

  iconSpan.className = `material-symbols-outlined text-[20px] md:text-[24px] ml-2`;
  iconSpan.textContent = 'keyboard_arrow_down';

  dropdownButton.addEventListener("click", () => {
    dropdownMenu.classList.toggle("hidden");
  });

  dropdownMenu.addEventListener("click", (event) => {
    const option = event.target.closest("[data-value]");
    if (option) {
      dropdownButton.textContent = option.dataset.value;
      const countryCode=countries.find((country)=>country.dial_code===option.dataset.value).code;
      
      const flagImage = document.createElement('img');
        flagImage.src = `https://flagcdn.com/w40/${countryCode.toLowerCase()}.png`;
        flagImage.alt = `${"in"} flag`;
        flagImage.width = 20;
        flagImage.className = 'mr-2';
        dropdownButton.innerHTML = '';
        dropdownButton.appendChild(flagImage);
        dropdownButton.appendChild(document.createTextNode(option.dataset.value));
        dropdownButton.appendChild(iconSpan);
      phCode.value = option.dataset.value;
      dropdownMenu.classList.add("hidden");

      document.querySelectorAll("#options").forEach(el => el.classList.remove("bg-gray-300"));
      option.classList.add("bg-gray-300");

  
    }
});


  document.addEventListener("click", (event) => {
    if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
      dropdownMenu.classList.add("hidden");
    }
  });
  function checkPhoneAvail(){
  phoneNumField.classList.add("pl-[125px]") 
  dropdownButton.classList.add("max-w-[70px]")

  const flagImage = document.createElement('img');
        flagImage.src = `https://flagcdn.com/w40/${"in"}.png`;
        flagImage.alt = `${"in"} flag`;
        flagImage.width = 20;
        flagImage.className = 'mr-2';
        dropdownButton.innerHTML = '';
        dropdownButton.appendChild(flagImage);
        dropdownButton.appendChild(document.createTextNode("+91"));
        dropdownButton.appendChild(iconSpan);
        phCode.value = "+91";

  const defaultOption = document.querySelector(`[data-value="+91"]`);
  if (defaultOption) {
    defaultOption.classList.add("bg-gray-300"); 
  }
  }
  checkPhoneAvail()
  
</script>
