---
import MainLayout from "../layouts/MainLayout.astro";
import { privacyContent } from "../components/constants/privacy";
---

<MainLayout>
    <section class="bg-[#F6F4F2] lg:px-[80px] lg:py-[120px] px-4 lg:h-[500px] grid lg:gap-0 gap-11 py-10">
        <h1 class="lg:text-[52px] font-sans-instrument text-3xl lg:max-w-[693px] text-center m-auto xl:container">
            {privacyContent.title}
        </h1>
      </section>
      <section class="lg:px-20 lg:py-[120px] px-4 py-16 font-sans-instrument xl:container">
        <h2 class="font-bold text-lg">{privacyContent.heading1}</h2>
        <h3 class="mt-20 font-semibold text-2xl">{privacyContent.heading2}</h3>
        {
            privacyContent.description?.map((item)=>
                <h3 class="mt-20 font-semibold text-2xl">{item.heading}</h3>
            <ul>
                {item.list?.map((subItem)=>
                <li>{subItem}</li>
                )}
            </ul>
            )
        }
    </section>
    <style>
        li {
            display: list-item;
            list-style-type: disc;
        }
        ul {
            padding-left: 2rem;
        }
    </style>
</MainLayout>