---
import BottomContextsSection from "../components/Manifesto/BottomSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import DesireSection from "../components/Home/DesireSection.astro";
import desireImage from "../assets/Navbar/desireImage.png";
import {descriptionButton,desireSection1} from "../components/constants/home";
import WorldSafety from "../components/Manifesto/WorldSafety.astro";
import Benefits from "../components/Manifesto/Benefits.astro";
import Blogs from "../components/Home/Blogs.astro";
import { blogsData } from "../components/constants/home";

const metaTitle = "How EyEagle’s Home Safety System Works";
const metaDesc =
  "See how EyEagle combines fall prevention, Guardian X emergency alerts, family coordination, and practical home-safety support.";
---

<MainLayout title={metaTitle} desc={metaDesc}>
  <!-- <HeroSection /> -->
  <!-- <BannerSection1 /> -->
  <!-- <ContextSection /> -->
  <BottomContextsSection />
  <!-- <BannerSection2 /> -->
   <WorldSafety/>
   <Benefits/>
   <Blogs blogsData={blogsData} showSeeMoreButton={true} />
  <section class="w-full">
    <DesireSection item={desireImage} desireSection1={desireSection1} descriptionButton={descriptionButton} className="mt-0 bg-white"/>
  </section>
</MainLayout>
