---
import HeroSection from "../components/Manifesto/HeroSection.astro";
import BannerSection1 from "../components/Manifesto/BannerSection1.astro";
import ContextSection from "../components/Manifesto/ContextSection.astro";
import BannerSection2 from "../components/Manifesto/BannerSection2.astro";
import BottomContextsSection from "../components/Manifesto/BottomSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import DesireSection from "../components/Home/DesireSection.astro";
import desireImage from "../assets/Navbar/desireImage.png";
import {descriptionButton,desireSection1} from "../components/constants/home";
import WorldSafety from "../components/Manifesto/WorldSafety.astro";
import Benifits from "../components/Manifesto/Benifits.astro";

const metaTitle="Advanced Elderly Fall Alert Devices - EyEagle Solutions";
const metaDesc="Explore EyEagle’s innovative solutions for elderly safety. From fall alert devices to emergency alarm systems, protect your loved ones today.";
---

<MainLayout title={metaTitle} desc={metaDesc}>
  <!-- <HeroSection /> -->
  <!-- <BannerSection1 /> -->
  <!-- <ContextSection /> -->
  <BottomContextsSection />
  <!-- <BannerSection2 /> -->
   <WorldSafety/>
   <Benifits/>
  <section class="w-full">
    <DesireSection item={desireImage} desireSection1={desireSection1} descriptionButton={descriptionButton} className="mt-0 bg-white"/>
  </section>
</MainLayout>