---
import { Image } from "astro:assets";

type FeatureItem = {
  title: string;
  desc: string;
};
const installFeatures = Astro.props.installFeatures;
const installSteps = Astro.props.installSteps;
const installImage = Astro.props.installImage;
---

<section class="xl:container py-20">
  <div
    class="flex flex-col md:flex-row gap-10 md:gap-[60px] justify-center px-4 md:mx-[120px]"
  >
    <!-- LEFT: scrolling steps -->
    <div class="md:space-y-[283px]">
      {
        installSteps.map((step: FeatureItem) => (
          <div class="flex gap-3 max-w-full md:max-w-[405px] px-4 py-2 md:p-6 max-sm:items-center">
            <div class="md:block hidden w-[2px] bg-[#CC0000]" />
            <div class="block md:hidden w-[2px] h-28 bg-[#CC0000]" />
            <div>
              <h4 class="text-xl md:text-2xl font-bold">{step.title}</h4>
              <p class="mt-3 text-sm text-gray-600">{step.desc}</p>
            </div>
          </div>
        ))
      }
    </div>
    <!-- RIGHT: image -->
    <div class="block">
      <div class="relative md:sticky md:top-[120px] mt-10 md:mt-0">
        <Image
          src={installImage}
          alt="Installation consultation"
          class="w-full md:max-w-[687px] rounded-2xl"
        />
      </div>
    </div>
  </div>
  <!-- FEATURES -->
  <div
    class="xl:container mt-10 md:mt-20 flex justify-center px-4 md:px-[120px]"
  >
    <div
      class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-5 text-center max-w-full"
    >
      {
        installFeatures.map((item: FeatureItem) => (
          <div class="max-w-full md:max-w-[270px] px-2 mx-auto">
            <p class="text-[#CC0000] text-xl md:text-2xl font-semibold">
              {item.title}
            </p>
            <p class="mt-2 text-sm text-black opacity-60">{item.desc}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
