---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type Zone = {
  image: ImageMetadata;
  title: string;
  subtitle: string;
  desc: string;
};
const zones: Zone[] = Astro.props.zones;
const installData = Astro.props.installData;
---

<section class="xl:container py-14 md:py-20 md:px-[125px]">
  <div class="flex flex-col items-center text-center px-4 md:mx-[240px]">
    <div class="max-w-[1100px]">
      <h2 class="text-[32px] md:text-5xl font-bold leading-10 md:leading-[56px]">
        {installData.title}
      </h2>
    </div>
    <div class="mt-5 max-w-[900px]">
      <p class="text-base leading-[28px]">
        {installData.desc}
      </p>
    </div>
  </div>
  <div class="mt-12 md:mt-20 px-4 md:px-0 md:mx-[120px]">
    {
      zones.map((zone: Zone, index: number) => (
        <div
          class={`flex flex-col md:flex-row gap-6 md:gap-8
          rounded-3xl border bg-[#F9F7F7]
          ${index !== 0 ? "mt-6 md:mt-8" : ""}`}
        >
          <Image
            src={zone.image}
            alt={zone.title}
            class="w-full md:w-auto rounded-t-3xl md:rounded-s-3xl border"
          />
          <div class="px-4 md:px-0 md:max-w-[525px] py-6 md:py-10">
            <h3 class="text-[#CC0000] text-xl font-bold">{zone.title}</h3>
            <p class="text-base mt-1">{zone.subtitle}</p>
            <p class="mt-3 text-base opacity-60">{zone.desc}</p>
          </div>
        </div>
      ))
    }
    <p class="mt-20 text-center text-lg italic">
      {installData.footer}
    </p>
  </div>
</section>
