---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";

const { showSeeMoreButton = false } = Astro.props;
let blogsData: CollectionEntry<"blogs">[] = await getCollection("blogs");

blogsData = blogsData.sort((a, b) => b.data.id - a.data.id);
if (showSeeMoreButton) {
  blogsData = blogsData.slice(0, 3);
}
---

<section class="xl:container lg:mt-8 lg:mb-[7.5rem] lg:my-16 my-8 lg:px-20 px-5">
  <p
    class="text-4xl lg:text-[64px] leading-[2.5rem] lg:leading-[88px] mb-4 font-medium font-sans-instrument"
  >
    Blog
  </p>
  <p
    class="lg:mb-[60px] mb-6 lg:mt-[32px] text-2xl leading-7 lg:text-4xl lg:leading-10 font-barlow"
  >
   Latest news and updates
  </p>
  <div class="grid gap-8 lg:grid-cols-3 md:grid-cols-2">
    {
      blogsData.map(({ data, slug }) => (
        <div class="bg-white rounded-2xl shadow-md overflow-hidden flex flex-col h-full">
          <a href={`/blogs/${slug}`}>
            <Image
              src={data.img}
              alt={data.title}
              width={100}
              height={100}
              class="w-full object-cover"
            />
            <div class="p-6 flex flex-col justify-between flex-grow font-barlow">
              <p class="text-lg text-gray-600 leading-5 mb-4">{data.category}</p>
              <h3 class="text-xl font-semibold text-left mb-2 line-clamp-2">{data.title}</h3>
              <div class="mt-auto text-[#Cc0000] font-semibold text-lg inline-flex items-center gap-1 group">
                Read
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6 group-hover:translate-x-1 transition-transform"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path d="M10.59 16.59L15.17 12 10.59 7.41 9.17 8.83 12.34 12 9.17 15.17z" />
                </svg>
              </div>
            </div>
          </a>
        </div>
      ))
    }
  </div>
  {
    showSeeMoreButton && (
      <div class="flex justify-center mt-10">
        <a
          href="/blog"
          class="inline-flex items-center gap-2 px-6 py-2 border border-gray-300 text-[#002E3D] font-semibold rounded-lg transition hover:bg-gray-100"
        >
          View All
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
      </div>
    )
  }
</section>
