---
import { Image } from "astro:assets";
import { CircleMembershipData } from "../constants/home";

---

<section class="xl:container px-5 lg:px-10 pt-10 md:pt-[12.5rem] pb-[6.25rem] lg:pb-[12.5rem] ">
<div class="pb-[6.25rem] lg:pb-[9.375rem]">
    <h3 class="text-primary text-base lg:text-lg font-medium text-center">{CircleMembershipData.title}</h3>
    <h2 class="lg:max-w-[85rem] font-medium text-[2.5rem] leading-[2.75rem] lg:leading-[4.938rem] lg:text-[4.563rem] m-auto mt-2 text-center ">{CircleMembershipData.subTItle1}</h2>
    <h2 class="lg:max-w-[85rem] font-medium text-[2.5rem] leading-[2.75rem] lg:leading-[4.938rem] lg:text-[4.563rem] m-auto mt-2 text-center ">{CircleMembershipData.subTItle2}</h2>
</div>

<div class="pb-[5rem]">
    <h2 set:html={CircleMembershipData.midTitle} class="lg:max-w-[70rem] font-normal text-[2rem] lg:text-[2.938rem] m-auto text-center leading-10 lg:leading-[4.188rem]"></h2>
    <p class="lg:max-w-[70rem] m-auto mt-8 font-medium text-lg text-center leading-7">{CircleMembershipData.desc}</p>
</div>

<div>
    <Image src={CircleMembershipData.imgSrc} alt={"circleMembershipDataImg"} class={'max-md:hidden'}/>
    <Image src={CircleMembershipData.imgSrcMobile} alt={'circleMembershipDataImgMobile'} class={'md:hidden'}/>
</div>
</section>