---
import { Image } from "astro:assets";
import { CircleMembershipData } from "../constants/home";

---

<section class="xl:container px-[40px] pt-10 md:pt-[12.5rem] pb-[100px] lg:pb-[200px] ">
<div class="pb-[100px] lg:pb-[150px]">
    <h3 class="text-[#CC0000] text-[16px] lg:text-[18px] font-medium text-center">{CircleMembershipData.title}</h3>
    <h1 class="lg:max-w-[1360px] font-medium text-[40px] leading-[44px] lg:leading-[79px] lg:text-[73px] m-auto mt-2 text-center ">{CircleMembershipData.subTItle1}</h1>
    <h1 class="lg:max-w-[1360px] font-medium text-[40px] leading-[44px] lg:leading-[79px] lg:text-[73px] m-auto mt-2 text-center ">{CircleMembershipData.subTItle2}</h1>
</div>

<div class="pb-[80px]">
    <h1 set:html={CircleMembershipData.midTitle} class="lg:max-w-[1120px] font-normal text-[32px] lg:text-[47px] m-auto text-center leading-10 lg:leading-[67px]"></h1>
    <p class="lg:max-w-[1120px] m-auto mt-8 font-medium text-[18px] text-center leading-7">{CircleMembershipData.desc}</p>
</div>

<div>
    <Image src={CircleMembershipData.imgSrc} alt={"circleMembershipDataImg"}/>
</div>
</section>