---
import { Image } from "astro:assets";

const desireImage = Astro.props.item;
const className = Astro.props.className ?? '';
const desireSection1 = Astro.props.desireSection1;
const desireSection2 = Astro.props.desireSection2;
const descriptionButton = Astro.props.descriptionButton;
---

<section>
    <div class=`lg:py-[120px] lg:px-[80px] bg-[#222222] ${className}`>
      <div class={"relative h-[327px] lg:h-[900px] "}>
        <Image
          src={desireImage}
          alt="Our healthcare team"
          class="w-full h-full object-cover brightness-95 rounded-sm"
        />
        <div class="w-full font-sans-instrument">
          <p class="xl:container xl:w-[700px] xl:right-[580px] xl:left-10 absolute lg:top-20 top-10 lg:left-20 left-5 lg:text-[64px] text-2xl font-normal lg:leading-[92px] max-w-[744px] mx-auto  text-white">
            {desireSection1}
          </p>
          <p class="xl:container xl:w-[700px] xl:right-[580px] xl:left-10 absolute max-lg:top-28 top-[270px] max-lg:text-lg lg:max-w-2xl text-white lg:left-20 left-5">
            {desireSection2}
          </p>
          <a href="/waitlist">  
            <button class="xl:container xl:w-[250px] xl:right-[1020px] xl:left-10 py-4 flex justify-between items-center w-48 text-white absolute top-56 lg:top-[380px] lg:left-20 left-5 px-8 lg:rounded-[99px] bg-[#cc0000] rounded-full">
              <span>
                {descriptionButton}
              </span>
              <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.609375 8.76805H11.5822L6.5455 13.8048L7.80467 15.0639L15 7.86864L7.80467 0.67334L6.5455 1.93252L11.5822 6.96923H0.609375L0.609375 8.76805Z" fill="white"/>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
