---
import Image from "../common/OptimizedImage.astro";
import { EmergencyResponseData } from "../constants/home";
import Icon from "../common/Icon.astro";

const HomePageEmergencyBanner = Astro.props.HomePageEmergencyBanner;
---

<section
  id="emergency"
  class="bg-secondary pt-25 lg:pt-30 pb-30 lg:px-20 px-5 font-sans-instrument"
>
  <div class="xl:container">
    <section class="pb-25 lg:pb-20">
      <p
        class="text-center text-white opacity-60 font-medium text-base lg:text-lg pb-2"
      >
        {EmergencyResponseData.title}
      </p>
      <h3
        set:html={EmergencyResponseData.subTitle}
        class="lg:max-w-340 text-center text-white font-medium text-[2.5rem] leading-11 lg:leading-18 lg:text-[3.75rem] m-auto"
      />
    </section>

    <section>
      <h3
        class=" text-center text-white text-[2rem] lg:text-4xl font-medium m-auto leading-10 lg:leading-11"
        set:html={EmergencyResponseData.midTitle}
      />
      <p
        class="text-center lg:px-10 text-[#FFFFFF] font-normal text-lg mt-6 lg:mt-8 font-sans-instrument m-auto leading-7"
      >
        {EmergencyResponseData.desc}
      </p>
    </section>

    <section
      class="flex flex-col md:flex-row justify-center items-center mt-20 gap-5 lg:gap-[7.813rem] lg:px-10"
    >
      <div class="w-full">
        <Image src={HomePageEmergencyBanner} alt="emergencyBanner" />
      </div>
      <div class="flex flex-col gap-5 lg:gap-10 w-full">
        <div class="h-px bg-[#D5D5D5]"></div>
        <p
          class="text-white font-medium text-xl leading-8 lg:leading-9.5 lg:text-3xl"
          set:html={EmergencyResponseData.bannerDesc1}
        />
        <div class="h-px bg-[#D5D5D5]"></div>
        <p
          class="text-white font-medium lg:text-3xl text-xl leading-8 lg:leading-9.5"
          set:html={EmergencyResponseData.bannerDesc2}
        />
      </div>
    </section>
    <section
      class="mt-20 flex flex-col md:flex-row justify-between items-center gap-6"
    >
      {
        EmergencyResponseData.remarks.map((remark) => (
          <div class="w-full flex flex-col gap-[0.813rem] lg:gap-5 justify-center items-center">
            <div>
              <Icon
                iconName={remark.iconType}
                classNames="text-white text-[2.5rem] md:text-[5rem]"
              />
            </div>
            <div class="max-h-14">
              <p class="w-auto lg:max-w-47.5  font-normal text-lg leading-7 text-white text-center ">
                {remark.context}
              </p>
            </div>
          </div>
        ))
      }
    </section>
  </div>
</section>
