---
import tick from "../../assets/Navbar/tick.png"
import { Image } from "astro:assets";
import kitImage1 from "../../assets/Navbar/kitItem1.png"
import kitImage2 from "../../assets/Navbar/kitItem2.png"
import kitImage3 from "../../assets/Navbar/kitItem3.png"
import kitImage4 from "../../assets/Navbar/kitItem4.png"
import kitImage5 from "../../assets/Navbar/kitItem5.png"
const ourTeam = Astro.props.item;
const ourTeamButton = Astro.props.ourTeamButton;
const ourTeamHeading1 = Astro.props.ourTeamHeading1;
const ourTeamHeading2 = Astro.props.ourTeamHeading2;
---
<section id="prevention" class="xl:container font-sans-instrument lg:px-10 px-4">
  <div class=" lg:py-[200px] max-lg:pt-20 max-lg:pb-10">
    <h2 class="text-[#CC0000] text-center font-medium text-lg leading-[22px] mb-2">PREVENTION</h2>
        <h2 class="lg:text-[73px] xl:container font-sans-instrument leading-10 text-[32px] font-medium lg:font-normal lg:leading-[80.3px] text-center">
          {ourTeamHeading1}
        </h2>
  </div>
  <div>
    <h3 class="font-normal text-4xl lg:text-5xl leading-[67.2px] max-lg:text-center">Top-Tier Quality,</h3>
    <h3 class="font-normal text-4xl lg:text-5xl leading-[67.2px] opacity-60 max-lg:text-center">Zero Compromise</h3>
    <div class="mt-4 flex max-lg:flex-col items-center lg:gap-[120px] gap-10 w-full">
      <h3 class="font-medium text-lg leading-[28px] lg:w-[75%] max-lg:text-center">Providing essential support in high-risk areas, these features focus on preventing accidents in the first place by improving stability and reducing slip risks</h3>
      <div class="flex gap-20 items-center justify-center">
        <div class="font-medium text-lg leading-[28px]">
          <Image src={tick} alt={"tick"}/>
          <p>Total Prevention Kit</p>          
        </div>
        <div class="font-medium text-lg leading-[28px]">
          <Image src={tick} alt={"tick"}/>
          <p>Assess Risk</p>          
      </div>
      </div>
    </div>
    <div class="flex max-lg:flex-col lg:justify-evenly gap-5 items-center mt-20 lg:pb-[200px] pb-20">
      <div class="max-md:w-full">
        <Image src={kitImage1} alt={"kitImage1"} class="w-full bg-cover"/>
      </div>
      <div class="grid gap-5">
        <Image src={kitImage2} alt={"kitImage1"}/>
        <Image src={kitImage3} alt={"kitImage1"}/>
      </div>
      <div class="grid gap-5 max-md:w-full">
        <Image src={kitImage4} alt={"kitImage1"} class="w-full bg-cover"/>
        <Image src={kitImage5} alt={"kitImage1"} class="w-full bg-cover"/>
      </div>
    </div>
  </div>        
</section>