---
import tick from "../../assets/Navbar/tick.png"
import { Image } from "astro:assets";
import kitImage1 from "../../assets/Navbar/kitItem1.png"
import kitImage2 from "../../assets/Navbar/kitItem2.png"
import kitImage3 from "../../assets/Navbar/kitItem3.png"
import kitImage4 from "../../assets/Navbar/kitItem4.png"
import kitImage5 from "../../assets/Navbar/kitItem5.png"
const ourTeam = Astro.props.item;
const ourTeamButton = Astro.props.ourTeamButton;
const ourTeamHeading1 = Astro.props.ourTeamHeading1;
const ourTeamHeading2 = Astro.props.ourTeamHeading2;
---
<section id="prevention" class="xl:container font-sans-instrument lg:px-10 px-4">
  <div class=" lg:py-[12.5rem] max-lg:pt-20 max-lg:pb-10">
    <h2 class="text-primary text-center font-medium text-base lg:text-lg leading-[1.375rem] mb-2">PREVENTION</h2>
        <h2 set:html={ourTeamHeading1} class="lg:text-[4.5rem] xl:container font-sans-instrument leading-[2.75rem] text-[2rem] font-medium lg:font-normal lg:leading-[4.938rem] text-center">
         
        </h2>
  </div>
  <div class="max-lg:pt-[6.25rem]">
    <h3 class="font-normal text-[2rem] lg:text-5xl leading-10 lg:leading-[4.2rem] text-left mb-3">Top-Tier Quality,</h3>
    <h3 class="font-normal text-[2rem] lg:text-5xl leading-10 lg:leading-[4.2rem] opacity-60 text-left">Zero Compromise</h3>
    <div class="mt-4 flex max-lg:flex-col items-center lg:gap-[7.5rem] gap-10 w-full">
      <h3 class="font-medium text-base lg:text-lg text-left leading-6 lg:leading-7 lg:w-[75%]">Providing essential support in high-risk areas, focus on preventing accidents in the first place by improving stability and reducing slip risks</h3>
      <div class="flex gap-20 items-center justify-start lg:justify-center">
        <div class="font-medium text-lg leading-7">
          <Image src={tick} alt={"tick"}/>
          <p>Total Prevention Kit</p>          
        </div>
        <div class="font-medium text-lg leading-7">
          <Image src={tick} alt={"tick"}/>
          <p>Assess Risk</p>          
      </div>
      </div>
    </div>
    <div class="flex max-lg:flex-col lg:justify-evenly gap-5 items-center mt-20 lg:pb-[12.5rem] pb-20 font-sans-instrument">
      <div class="relative max-md:w-full">
        <Image src={kitImage1} alt={"kitImage1"} class="w-full bg-cover rounded-xl"/>
        <p class="absolute top-4 left-4 text-white font-normal text-2xl leading-8">Secure support where it matters most.</p>
      </div>
      <div class="grid gap-5">
        <div class="relative">
          <Image src={kitImage2} alt={"kitImage1"} class='rounded-xl'/>
          <p class="absolute top-4 left-4 text-white font-normal text-2xl leading-8">Reduce slip risks instantly.</p>
        </div>
        <div class="relative">
          <Image src={kitImage3} alt={"kitImage1"} class='rounded-xl'/>
          <p class="absolute top-4 left-4 text-white font-normal text-2xl leading-8">Slim, sturdy, and slip-resistant.</p>
        </div>
      </div>
      <div class="grid gap-5 max-md:w-full">
        <div class="relative">
          <Image src={kitImage4} alt={"kitImage1"} class="w-full bg-cover rounded-xl"/>
          <p class="absolute top-4 left-4 text-white font-normal text-2xl leading-8">Invisible protection, powerful grip.</p>
        </div>
        <div class="relative">
          <Image src={kitImage5} alt={"kitImage1"} class="w-full bg-cover rounded-xl"/>
          <p class="absolute top-4 left-4 text-white font-normal text-2xl leading-8">Assess today, prevent tomorrow’s falls.</p>
        </div>
      </div>
    </div>
  </div>        
</section>