---
import { Image } from "astro:assets";
import { PowerfulBentoData } from "../constants/home";
---

<section class="xl:container lg:px-[5rem] px-4  md:pt-0 pb-[6.25rem] lg:pb-[7.5rem] ">
    <div class="pb-[5rem] lg:pb-[5rem]">

        <h2 class="font-medium text-[2rem] lg:text-4xl mb-3 leading-10 lg:leading-[2.75rem]">{PowerfulBentoData.title}</h2>
        <h2 class="font-medium text-[2rem] text-[#666666] lg:text-4xl leading-10 lg:leading-[2.75rem]">{PowerfulBentoData.subTitle}</h2>
    </div>
    
    <div class="flex flex-col justify-center items-center gap-8">
<div class="w-full">
    <Image src={PowerfulBentoData.bentoImgSrc} alt={"bentoImg"} class={"max-md:hidden bg-cover w-full h-full"}/>
    <img src={PowerfulBentoData.featsrc3.src} alt={'bentoMobile'} class="md:hidden bg-cover w-full h-full"/>
</div>
<div class="flex w-full flex-col gap-10 lg:flex-row justify-center lg:h-[39.938rem]">
    <div class="">
        <Image src={PowerfulBentoData.featsrc1} alt={"featSrc1"} class={"max-lg:hidden w-full h-full"}/>
        <Image src={PowerfulBentoData.featsrc4} alt={'powerfulFeat1Mobile'} class={"lg:hidden"}/>
    </div>
    <div class="">
        <Image src={PowerfulBentoData.featsrc2} alt={"featSrc2"} class={"max-lg:hidden w-full h-full"}/>
        <Image src={PowerfulBentoData.featsrc5} alt={'powerfulFeat2Mobile'} class={"lg:hidden"}/>
    </div>
</div>
    </div>
</section>