---
import { Image } from "astro:assets";
import { PowerfulBentoData } from "../constants/home";
---

<section class="xl:container lg:px-[40px] px-4  md:pt-0 pb-[100px] lg:pb-[200px] ">
    <div class="pb-[80px] lg:pb-[80px]">

        <h1 class="font-normal text-[32px] lg:text-[48px] mb-3 leading-[40px] lg:leading-[67px]">{PowerfulBentoData.title}</h1>
        <h1 class="font-normal text-[32px] text-[#666666] lg:text-[48px] leading-[40px] lg:leading-[67px]">{PowerfulBentoData.subTitle}</h1>
    </div>
    
    <div class="flex flex-col justify-center items-center gap-8">
<div class="w-full">
    <Image src={PowerfulBentoData.bentoImgSrc} alt={"bentoImg"} class={"max-md:hidden bg-cover w-full h-full"}/>
    <img src={PowerfulBentoData.featsrc3.src} alt={'bentoMobile'} class="md:hidden bg-cover w-full h-full"/>
</div>
<div class="flex w-full flex-col gap-5 lg:flex-row justify-center items-center">
    <div class="max-lg:w-full lg:h-[500px] xl:h-[639px]">
        <Image src={PowerfulBentoData.featsrc1} alt={"featSrc1"} class={"max-lg:hidden w-full h-full bg-cover"}/>
        <Image src={PowerfulBentoData.featsrc4} alt={'powerfulFeat1Mobile'} class={"lg:hidden"}/>
    </div>
    <div class="max-lg:w-full lg:h-[500px] xl:h-[639px]">
        <Image src={PowerfulBentoData.featsrc2} alt={"featSrc2"} class={"max-lg:hidden w-full h-full bg-cover"}/>
        <Image src={PowerfulBentoData.featsrc5} alt={'powerfulFeat2Mobile'} class={"lg:hidden"}/>
    </div>
</div>
    </div>
</section>