---
import { Image } from "astro:assets";
import BathroomSection from "./BathroomSection.astro";
import guardianKit from "../../assets/Navbar/guardianKit.png";
import guardiankit01 from "../../assets/Navbar/guardiankit01.png";
import guardiankit2new from "../../assets/Navbar/guardiankit2new.png";
import guardiankit3 from "../../assets/Navbar/guardiankit3.png";
import guardiankit03 from "../../assets/Navbar/guardiankit03.png";
import guardiankit1desktop from "../../assets/Navbar/guardiankit1desktop.webp";
import guardiankit2desktop from "../../assets/Navbar/guardiankit2desktop.webp";
interface Props {
    takeCareData : {
    id: number;
    heading: string;
    title: string;
    description: string;
    image: ImageMetadata;
}[],
serviceSectionTitle:string;
}
const takeCareData = Astro.props.takeCareData;
const serviceSectionTitle = Astro.props.serviceSectionTitle;
---

<section id="services" class="bg-black">
  <div class="xl:container py-[3.75rem] lg:py-[7.5rem] font-sans-instrument">
  <div class="lg:pb-20 pb-[6.25rem]">
    <h2 class="text-white opacity-[60%] text-center font-medium text-[16px] lg:text-lg leading-[1.375rem] mb-2">INTERACTION</h2>
        <h2 class="lg:text-6xl text-white xl:container font-sans-instrument leading-10 text-[2.5rem] font-medium lg:font-medium lg:leading-[4.5rem] text-center">
          EyEagle <br><span>Guardian-X Kit</span> 
        </h2>
  </div>
    <div class="px-4 lg:px-20 lg:pb-20 pb-20">
      <h2 class="text-white font-normal lg:font-medium text-[2rem] lg:text-4xl leading:[2.5rem] lg:leading-[2.75rem] text-center pb-6 lg:pb-8">Patent-pending technology, seamlessly integrated safety system that alerts and responds instantly</h2>
      <p class="font-normal text-lg leading-7 text-center text-white pb-20 opacity-75">
        Equipped with a smart alarm unit, control hub, responsive switch, and automated door mechanism, it ensures unmatched security and peace of mind—whether you’re near or far. Stay connected, stay protected.
      </p>
      <div class="flex justify-center items-center">
        <Image src={guardianKit} alt={'guardianKit'} class="lg:w-4/5"/>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-[7.5rem] text-white lg:px-20 px-4 pb-20">
      <div >
        <h2 class="font-medium text-[32px] lg:text-4xl leading-[2.5rem] lg:leading-[2.75rem] pb-8">Uncompromising Safety,<br/><span class="opacity-60"> Smartly Engineered.</span></h2>
      <p class="font-normal text-base opacity-70 leading-7 lg:text-lg">Seamlessly linked to the EyEagle mobile app, it ensures instant alerts, a direct line to the dispatch team in case of emergencies, and a smart lock that detects emergencies, allowing quick access when needed.</p>
      </div>
      <div class="flex flex-col lg:flex-row justify-center items-start lg:items-end gap-5">
        <div>
          <h3 class="font-medium text-2xl leading-7 lg:text-2xl lg:leading-8 pb-2">Loud Alarm</h3>
          <p class="font-normal opacity-70 leading-7 text-[16px] lg:text-lg">High-decibel alarm alerts instantly.</p>
        </div>
        <div>
          <h3 class="font-medium text-2xl leading-7 lg:text-2xl lg:leading-8 pb-2">Offline</h3>
          <p class="font-normal opacity-70 leading-7 text-base lg:text-lg">No WiFi needed for operation.</p>
        </div>
        <div>
          <h3 class="font-medium text-2xl leading-7 lg:text-2xl lg:leading-8 pb-2">Backup</h3>
          <p class="font-normal opacity-70 leading-7 text-base lg:text-lg">Runs during power outages</p>
        </div>
      </div>
    </div>
    
    <div class="lg:flex grid lg:px-20 px-4 gap-6 py-5">
      <div class="relative">

        <Image src={guardiankit1desktop} alt="guardiankit1desktop"  class={"max-md:hidden rounded-xl"}/>
        <Image src={guardiankit01} alt="guardiankit1new"  class={"md:hidden rounded-xl"}/>
        <div class="absolute bottom-6 left-6 w-2/5 ">
          <h4 class="font-semibold text-2xl">SmartLock</h4>
          <p class="font-normal text-base leading-6 mt-3">
            Detects when a door remains locked for too long and instantly sends an alarm for a timely response.
          </p>
        </div>
      </div>
      <div class="relative">
        <Image src={guardiankit2desktop} alt="guardiankit2desktop"  class={"max-md:hidden rounded-xl"}/>
        <Image src={guardiankit2new} alt="guardiankit2new" class={"md:hidden rounded-xl"} />
        
        <div class="absolute bottom-6 left-6 w-2/5">
          <h4 class="font-semibold text-2xl">SOS Button</h4>
          <p class="font-normal text-base leading-6 mt-3">
            Strategically placed for quick access, enabling immediate SOS activation during emergencies.
          </p>
        </div>
      </div>
    </div>
    <div class="w-full h-full lg:px-20 px-4">
      <div class="relative">
        <Image src={guardiankit3} alt={'guardiankit3'} class="max-lg:hidden w-full h-full rounded-xl"/>
        <Image src={guardiankit03} alt={"guardiankit3new"} class={"lg:hidden rounded-xl"}/>
        <div class="absolute bottom-6 left-6 lg:w-1/5 w-2/5">
          <h4 class="font-semibold text-2xl">Caregiver Alarm</h4>
          <p class="font-normal text-base leading-6 mt-3">
            Expertly placed for maximum coverage, ensuring you always hear the alarm when it matters.
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>