---
import {
  tncDefinitions,
  productUsage,
  emergencyHandling,
  userRes,
  limitations,
  modifications,
  contactUs,
  paymentPolicies,
  governingLaw,
  returnRefunds,
  dataPrivacy,
  subScriptionPayment,
  groupManagement,
  tncScope,
  tncIntro,
  tncDate
} from "../constants/tnc";
---

<section class="lg:px-20 lg:py-[120px] px-4 py-16 font-sans-instrument xl:container">
    <h2 class="font-bold text-lg">{tncDate.dateText}</h2>
    <h3 class="mt-20 font-semibold text-2xl">{tncIntro.heading}</h3>
    <p>{tncIntro.desc}</p>
    <h3 class="mt-10 font-semibold text-2xl">{tncDefinitions.heading}</h3>
    <ul>
{tncDefinitions.lists.map((list)=>(
    <li>{list}</li>
))}
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{tncScope.heading}</h3>    
    <h4 class="font-bold text-lg">{tncScope.desc}</h4>
    <ul>
       {tncScope.lists.map((list)=>(
        <li>{list}</li>
       ))}
            <ul>
               {tncScope.subLists.map((subList)=>(
                <li>{subList}</li>
               ))}
            </ul>
        </li>
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{productUsage.heading}</h3>
    <p>{productUsage.desc}</p> 
    <ul>
       
       
        {
            productUsage.list.map((list)=>(
                <li>{list}</li>
            ))
        }
        {
            productUsage.subDesc
        }
        {
          productUsage.subList.map((subList)=>(
            <li>{subList}</li>
          ))  
        }
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{groupManagement.heading}</h3>
    <ul>
      {groupManagement.lists.map((list)=>(
        <li>{list}</li>
      ))}
       <ul>
        {groupManagement.subLists.map((list)=>(
            <li>{list}</li>
          ))}
        </ul>   
    </ul> 
    <h3 class="mt-10 font-semibold text-2xl">{emergencyHandling.heading}</h3>
    <p>{emergencyHandling.desc}</p>
    <ul>
        {emergencyHandling.lists.map((list)=>(
            <li>{list}</li>
        ))}
    </ul> 
    <p>{emergencyHandling.subDesc}</p>
    <ul>
       {emergencyHandling.subLists.map((list)=>(
        <li>{list}</li>
       ))}
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{subScriptionPayment.heading}</h3> 
    <ul>
      {subScriptionPayment.lists.map((list)=>(
        <li>{list}</li>
      ))}
    </ul>
    <p>{subScriptionPayment.desc}</p>
    <ul>
        {subScriptionPayment.subLists.map((list)=>(
            <li>{list}</li>
        ))}
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{userRes.heading}</h3>
    <ul>
      {userRes.lists.map((list)=>(
        <li>{list}</li>
      ))}
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{dataPrivacy.heading}</h3>
    <ul>
        {dataPrivacy.lists.map((list)=>(
            <li>{list}</li>
        ))}
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{limitations.heading}</h3>
    <p>{limitations.desc}</p>
    <p>{limitations.subDesc}</p>
    <ul>
        {limitations.lists.map((list)=>(
            <li>{list}</li>
        ))}
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{returnRefunds.heading}</h3>
    <ul>
  {returnRefunds.lists.map((list)=>(
    <li>{list}</li>
  ))}
    </ul>
    <h3 class="mt-10 font-semibold text-2xl">{modifications.heading}</h3>
    <p>{modifications.desc}</p>
    <h3 class="mt-10 font-semibold text-2xl">{governingLaw.heading}</h3>
    <p>{governingLaw.desc}</p>
    <h3 class="mt-10 font-semibold text-2xl">{contactUs.heading}</h3>
    <p>{contactUs.desc}</p>
    <p>{contactUs.subDesc}</p>
    <h3 class="mt-10 font-semibold text-2xl">{paymentPolicies.heading}</h3>
    <ul>
        {paymentPolicies.lists.map((list)=>(
            <li>{list}</li>
        ))}
    </ul>
</section>
<style>
    li {
        display: list-item;
        list-style-type: disc;
    }
    ul {
        padding-left: 2rem;
    }
</style>