---
import EyeagleApp from "./EyeagleApp.astro";
import GuardianX from "./GuardianX.astro";
import BathroomKit from "./BathroomKit.astro";

const { appSection, appData, guardianData, kitFeatures, bathroomKit } =
  Astro.props;
---

<section class="relative my-20 font-jakarta">
  <!-- Heading -->
  <div class="max-w-[960px] mb-12 md:mb-16 px-4 text-center mx-auto">
    <h2 class="text-4xl md:text-[40px] font-bold mb-2">
      Three pieces, one shared goal.
    </h2>
  </div>
  <!-- STICKY TABS -->
  <div class="sticky top-24 z-20 flex justify-center">
    <div
      class="flex items-center gap-2 rounded-full p-3 py-2 bg-[#FBEBEB] shadow-md"
    >
      <button class="tab active" data-target="app"> EyEagle app </button>
      <button class="tab" data-target="guardian"> Guardian X Kit </button>
      <button class="tab" data-target="kit"> Protection Kit </button>
    </div>
  </div>
  <!-- SECTIONS -->
  <div id="app" class="scroll-section pt-20">
    <EyeagleApp appSection={appSection} appData={appData} />
  </div>
  <div id="guardian" class="scroll-section pt-20">
    <GuardianX guardianData={guardianData} kitFeatures={kitFeatures} />
  </div>
  <div id="kit" class="scroll-section pt-20">
    <BathroomKit bathroomKit={bathroomKit} />
  </div>
</section>

<style is:global>
  .tab {
    @apply rounded-full px-3 py-2.5 text-base font-semibold
           text-slate-600 transition-all duration-200;
  }
  .tab:hover {
    @apply text-slate-800;
  }
  .tab.active {
    @apply bg-[#CC0000] text-white shadow;
  }
</style>

<script is:inline>
  const tabs = Array.from(document.querySelectorAll(".tab"));
  const sections = Array.from(document.querySelectorAll(".scroll-section"));
  const TAB_OFFSET = 96;
  let isProgrammaticScroll = false;

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      isProgrammaticScroll = true;

      // immediately update UI
      tabs.forEach((t) => t.classList.remove("active"));
      tab.classList.add("active");

      const id = tab.dataset.target;
      const section = document.getElementById(id);
      if (!section) return;
      const y =
        section.getBoundingClientRect().top + window.pageYOffset - TAB_OFFSET;
      window.scrollTo({
        top: y,
        behavior: "smooth",
      });
      setTimeout(() => {
        isProgrammaticScroll = false;
      }, 500);
    });
  });

  const observer = new IntersectionObserver(
    (entries) => {
      if (isProgrammaticScroll) return;
      entries.forEach((entry) => {
        if (!entry.isIntersecting) return;
        tabs.forEach((t) => t.classList.remove("active"));
        const activeTab = tabs.find(
          (t) => t.dataset.target === entry.target.id,
        );
        activeTab?.classList.add("active");
      });
    },
    {
      threshold: 0,
      rootMargin: `-${TAB_OFFSET}px 0px -60% 0px`,
    },
  );
  sections.forEach((section) => observer.observe(section));
</script>
