---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type MomentFeature = {
  image: ImageMetadata;
  title: string;
  description: string;
};
const momentData = Astro.props.momentData;
const momentFeatures = Astro.props.momentFeatures as MomentFeature[];
---

<section class="py-16 md:py-20 font-sans-instrument">
  <div class="xl:container px-4 md:px-[120px]">
    <div class="flex justify-center">
      <div
        class="flex flex-col text-center max-w-[960px] mb-12 md:mb-20 items-center px-0 md:px-14"
      >
        <h2
          class="text-3xl md:text-[40px] font-bold mb-4 leading-snug md:leading-[48px]"
        >
          {momentData.title}
        </h2>
        <p class="text-base leading-7">{momentData.desc}</p>
      </div>
    </div>
    <div
      class="flex gap-6 overflow-x-auto snap-x snap-mandatory md:grid md:grid-cols-3 md:gap-[60px] md:overflow-visible max-w-[1200px] mx-auto"
    >
      {
        momentFeatures.map((item) => (
          <div class="flex flex-col min-w-full snap-center md:min-w-0">
            <Image
              src={item.image}
              alt={item.title}
              class="rounded-2xl w-full h-auto"
              loading="lazy"
            />
            <h3 class="mt-10 font-bold text-2xl">{item.title}</h3>
            <p class="mt-3 text-base max-w-[360px]">{item.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
