---
import { Image } from "astro:assets";

type ProcessItem = {
  title: string;
  description: string;
};

type Process = {
  title: string;
  description: string;
  items: ProcessItem[];
};

interface Props {
  processData: Process;
  processImage: ImageMetadata;
}

const { processData, processImage } = Astro.props as Props;
---

<section class="py-12 lg:py-20 bg-[#111827] font-jakarta">
  <div class="flex xl:container flex-col lg:flex-row gap-20 justify-center px-4 text-white md:py-20">
    <!-- LEFT (Sticky heading) -->
    <div class="lg:sticky lg:top-32 lg:self-start max-w-[380px] py-6">
      <h2 class="text-3xl md:text-5xl font-bold md:leading-[56px]">
        {processData.title}
      </h2>
    </div>
    <!-- RIGHT (Steps) -->
    <div class="flex flex-col gap-16 lg:max-w-[540px]">
      {
        processData.items.map((card) => (
          <div>
            <Image
              src={processImage}
              alt={card.title}
              class="rounded-xl w-full"
            />
            <div class="mt-10">
              <h3 class="text-xl font-bold">{card.title}</h3>
              <p class="text-base mt-2 opacity-70">{card.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

