---
import Image from "astro/components/Image.astro";
import Icon from "./Icon.astro";
import type { ImageMetadata } from "astro";
interface Props {
  iconName?:string, img?:ImageMetadata ,imgClassNames?:string;classNames?:string,title:string,subTitle:string 
}
  const { iconName, img,imgClassNames,classNames = '',title,subTitle } = Astro.props ;

---
<script>


  
</script>

<div class="bg-[#4DDA4333]">

  <div class={`xl:container w-full flex gap-6 items-center  ${classNames}`}>
    <div>
      {img && <Image src={img} alt="" class={imgClassNames}/>}
      {iconName && <Icon iconName={iconName} />}
    </div>
    <div class={"flex flex-col gap-3"}>
     { title && <h3 class="text-[16px] lg:text-[20px] font-semibold">{title}</h3>}
     {subTitle && <p class="text-[14px] lg:text-[18px]">{subTitle}</p>}
    </div>
  </div>
  </div>
