---
export const prerender = true;

import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { blogsData } from "../../components/constants/home";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");

  return blogs.map((blog) => ({
    params: {
      slug: blog.id,
    },
  }));
}

const { slug } = Astro.params;

const blogs = await getCollection("blogs");

const blog = blogs.find((b) => b.id === slug);

if (!blog) {
  throw new Error("Blog not found");
}

const { Content } = await render(blog);

const blogMeta = blogsData.find((item) => item.slug === blog.data.slug);

const metaTitle = blogMeta?.title ?? blog.data.title;

const metaDesc = blogMeta?.desc ?? "Read the latest article on EyEagle's blog.";

const site = (Astro.site?.toString() || "https://eyeagle.ai").replace(
  /\/+$/,
  "",
);

const metaImage = blogMeta?.img
  ? `${site}${blogMeta.img.src}`
  : blog.data.img
    ? `${site}${blog.data.img.src}`
    : "";
---

<MainLayout title={metaTitle} desc={metaDesc} metaImage={metaImage}>
  <style is:global>
    .prose ul ul {
      list-style-type: circle;
    }
  </style>

  <section class="bg-[#FFFFFF] lg:pt-44 pt-12 px-6 lg:px-40 w-full">
    <div
      class="lg:max-w-7xl w-full mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-8"
    >
      <div>
        <div class="flex flex-1 items-center gap-4">
          <a
            href="/blog"
            class="inline-flex items-center text-sm font-medium bg-[#FBEBEB] text-[#CC0000] rounded-full px-3 py-2 hover:bg-[#ebcaca] transition"
          >
            BLOG
          </a>

          <p class="text-sm text-[#737373] font-medium">
            {
              new Date(blog.data.date).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </p>
        </div>
        <h1
          class="text-4xl lg:text-5xl font-semibold mt-6 mb-4 lg:leading-[54px]"
        >
          {blog.data.title}
        </h1>
        <div class="mt-6 flex items-center gap-3">
          <img
            src=""
            alt={blog.data.author}
            class="w-10 h-10 rounded-full object-cover bg-[#CC0000]"
          />
          <p class="text-sm font-medium text-[#525252]">
            {blog.data.author}
          </p>
        </div>
      </div>
      <div class="flex justify-center">
        <Image
          src={blog.data.img}
          alt={blog.data.title}
          class="max-h-80 w-auto rounded-2xl"
        />
      </div>
    </div>
    <div class="flex justify-center mt-20">
      <img src="/src/assets/Blog/Divider.png" alt="divider" />
    </div>
  </section>

  <article class="px-6 md:px-10 lg:px-40 py-16 lg:py-20">
    <div
      class="mx-auto flex flex-col lg:flex-row gap-12 lg:gap-20 place-content-between"
    >
      <!-- TOC -->
      <aside class="hidden lg:block w-[280px] shrink-0">
        <div class="rounded-[22px] border border-[#F5DADA] bg-[#FBEBEB] p-6">
          <h3 class="text-xs font-bold uppercase text-[#CC0000] mb-6">
            In This Article
          </h3>

          <nav id="toc" class="space-y-3 text-sm text-[#525252]"></nav>
        </div>

        <div class="flex items-center gap-4 mt-6">
          <!-- Social icons -->
        </div>
      </aside>

      <!-- Blog Content -->
      <div
        id="blog-content"
        class="prose prose-lg max-w-[760px]
        prose-h2:scroll-mt-24 prose-h3:scroll-mt-24
        prose-h1:text-2xl lg:prose-h1:text-5xl prose-h2:text-xl
        prose-h3:text-lg lg:prose-h3:text-3xl lg:prose-h2:text-4xl
        prose-h1:leading-tight lg:prose-h1:leading-[1.2]
        prose-h2:leading-snug lg:prose-h2:leading-normal
        prose-h1:font-semibold prose-h2:font-semibold prose-h3:font-semibold
        prose-h3:leading-snug lg:prose-h3:leading-normal"
      >
        <Content />
      </div>
    </div>
  </article>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const article = document.getElementById("blog-content");
      const toc = document.getElementById("toc");

      if (!article || !toc) return;

      // Only include headings
      const headings = article.querySelectorAll("h2");

      headings.forEach((heading, index) => {
        if (!heading.id) {
          heading.id = `heading-${index + 1}`;
        }

        const link = document.createElement("a");
        link.href = `#${heading.id}`;
        link.textContent = heading.textContent;

        link.className =
          "block text-[16px] leading-7 text-[#4B5563] hover:text-[#CC0000]";

        toc.appendChild(link);
      });
    });
  </script>
</MainLayout>
