---
import { Image } from "astro:assets";

const contentData = Astro.props.contentData;
const stores = Astro.props.stores;
---

<section class="xl:container relative py-40 overflow-hidden">
  <!-- Background Ellipse -->
  <Image
    src={contentData.image}
    alt="CTA Image"
    class="absolute w-full h-[556px]"
  />
  <!-- Foreground Content -->
  <div
    class="flex flex-col px-5 items-center justify-center text-center relative z-10 py-40"
  >
    <div class="md:px-[120px]">
      <h2 class="text-[28px] md:text-5xl font-bold leading-none tracking-wide">
        {contentData.title}
      </h2>
      <p
        class="md:text-xl text-base text-[#090D15] font-medium max-w-[960px] py-8"
      >
        {contentData.description}
      </p>
    </div>
    <!-- Store Buttons -->
    <div class="flex md:gap-5 px-5 items-center justify-center">
      {
        stores.map((store: any) => (
          <a href={store.href} target="_blank" rel="noopener noreferrer">
            <Image src={store.image} alt={store.alt} />
          </a>
        ))
      }
    </div>
  </div>
</section>
