---
import { Image } from "astro:assets";

const HeroSectionData = Astro.props.HeroSectionData;
const heroTitle = Astro.props.heroTitle;
const heroDescription = Astro.props.heroDescription;
---

<section class="w-full lg:mt-20 mt-8">
  <div class="relative 2xl:container mx-auto">
    <!-- Desktop -->
    <Image
      src={HeroSectionData.images.desktop}
      alt="Hero app desktop"
      class="hidden sm:block w-full h-auto object-cover"
    />
    <!-- Mobile -->
    <Image
      src={HeroSectionData.images.mobile}
      alt="Hero app mobile"
      class="block sm:hidden w-full h-[488px] object-cover"
    />
    <div
      class="absolute inset-0 flex flex-col items-center text-center px-4 pt-12 md:pt-20 lg:pt-24"
    >
      <div class="w-full max-w-lg sm:max-w-xl md:max-w-[800px] text-black">
        <h1
          class="text-4xl md:text-5xl lg:text-[72px] tracking-wide font-bold leading-tight lg:leading-[80px]"
          set:html={heroTitle}
        />
        <p class="text-base md:text-xl leading-7 font-normal mt-4 md:mt-6">
          {heroDescription}
        </p>
        <a
          href={HeroSectionData.ctaHref}
          target="_blank"
          rel="noopener noreferrer"
          class="mt-5 sm:mt-6 md:mt-8 inline-block bg-[#CC0000] text-white px-5 sm:px-6 py-2.5 sm:py-3 rounded-full text-sm sm:text-base md:text-lg font-medium hover:bg-red-600 transition"
        >
          Get the app
        </a>
      </div>
      <div class="mt-10 md:mt-12 lg:mt-14 flex justify-center overflow-hidden">
        <Image
          src={HeroSectionData.images.infograph}
          alt="App infographic"
          class="w-full max-w-[1100px] h-auto object-contain"
        />
      </div>
    </div>
  </div>
</section>
