---
import EyeagleLogo from "../assets/Navbar/EyeagleLogo.png";
import EyeagleLogoBlack from "../assets/Navbar/EyeagleLogoBlack.png";
import EyeAgleFavIcon from "../assets/favicon.ico";
import {footerPolicy,buttonContent,popUpMenu,navbarContent, footerReserve} from "../components/constants/mainLayoutContent";
import "../styles/global.css";
import { Image } from "astro:assets";
const { title = "EyEagle – Preventing Falls, Saving Lives",desc="Discover EyEagle's advanced emergency alarm systems for the elderly. Ensure safety, peace of mind, and instant alerts in emergencies!" } = Astro.props;
const { pathname } = Astro. url;
const loginCredential = false;
const footerClass = Astro.props.footerClass ?? "";
const { noindex } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={desc} />
    {noindex && <meta name="robots" content="noindex" />}
    <!-- <meta name="keywords" content="" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href={EyeAgleFavIcon} type="image/x-icon" />
    <script type="text/partytown" is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7HPVGH0CKQ"></script>
    <script type="text/partytown" is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7HPVGH0CKQ');
    </script>
  </head>
  
  <body class="text-gray-900">
    <!-- <div class="fixed top-0 z-50 px-10 w-full font-sans-instrument text-white text-center bg-primary">
      <h2 class="tracking-[0.25rem] h-[3.25rem] text-base font-bold leading-6 grid justify-center items-center w-full">
        PREVENTING FALLS, SAVING LIVES
      </h2>
    </div> -->
    <header
      id="myNav"
      class=`fixed max-lg:hidden w-full top-0 z-40 right-0 px-10 py-5 bg-black`
    >
      <nav class="flex items-center xl:container">
        <div class="flex ml-32 items-center gap-4 lg:py-2">
          <a href="/" aria-label="EyEagle Home Page">
            <Image
              src={EyeagleLogo}
              alt={"EyEagle – Preventing Falls, Saving Lives"}
              id="imageBg"
              class="w-[8.188rem]"
              quality={'max'}
            />
          </a>
          <div class="h-8 w-px bg-gray-300"></div>
          <!-- <p class="text-white text-xs font-sans-instrument">Preventing Falls,<br />Saving Lives</p> -->
           <svg width="110" height="31" viewBox="0 0 110 31" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M0.860156 11V0.92H5.64816C6.39482 0.92 7.03416 1.05067 7.56616 1.312C8.10749 1.57333 8.52282 1.93733 8.81216 2.404C9.11082 2.87067 9.26016 3.41667 9.26016 4.042C9.26016 4.66733 9.11082 5.218 8.81216 5.694C8.51349 6.17 8.09349 6.54333 7.55216 6.814C7.02016 7.07533 6.38549 7.206 5.64816 7.206H2.56816V5.554H5.53616C6.03082 5.554 6.41349 5.41867 6.68416 5.148C6.96416 4.868 7.10416 4.504 7.10416 4.056C7.10416 3.608 6.96416 3.24867 6.68416 2.978C6.41349 2.70733 6.03082 2.572 5.53616 2.572H3.01616V11H0.860156ZM10.4064 11V3.86H12.4644V5.54H12.5064V11H10.4064ZM12.5064 7.276L12.3244 5.582C12.4924 4.97533 12.7677 4.51333 13.1504 4.196C13.5331 3.87867 14.0091 3.72 14.5784 3.72C14.7557 3.72 14.8864 3.73867 14.9704 3.776V5.736C14.9237 5.71733 14.8584 5.708 14.7744 5.708C14.6904 5.69867 14.5877 5.694 14.4664 5.694C13.7944 5.694 13.2997 5.81533 12.9824 6.058C12.6651 6.29133 12.5064 6.69733 12.5064 7.276ZM19.2352 11.14C18.4418 11.14 17.7512 10.986 17.1632 10.678C16.5752 10.3607 16.1178 9.922 15.7912 9.362C15.4738 8.802 15.3152 8.158 15.3152 7.43C15.3152 6.69267 15.4738 6.04867 15.7912 5.498C16.1178 4.938 16.5705 4.504 17.1492 4.196C17.7278 3.87867 18.3998 3.72 19.1652 3.72C19.9025 3.72 20.5418 3.86933 21.0832 4.168C21.6245 4.46667 22.0445 4.882 22.3432 5.414C22.6418 5.946 22.7912 6.57133 22.7912 7.29C22.7912 7.43933 22.7865 7.57933 22.7772 7.71C22.7678 7.83133 22.7538 7.948 22.7352 8.06H16.5472V6.674H21.0412L20.6772 6.926C20.6772 6.34733 20.5372 5.92267 20.2572 5.652C19.9865 5.372 19.6132 5.232 19.1372 5.232C18.5865 5.232 18.1572 5.41867 17.8492 5.792C17.5505 6.16533 17.4012 6.72533 17.4012 7.472C17.4012 8.2 17.5505 8.74133 17.8492 9.096C18.1572 9.45067 18.6145 9.628 19.2212 9.628C19.5572 9.628 19.8465 9.572 20.0892 9.46C20.3318 9.348 20.5138 9.166 20.6352 8.914H22.6092C22.3758 9.60467 21.9745 10.1507 21.4052 10.552C20.8452 10.944 20.1218 11.14 19.2352 11.14ZM25.6551 11L22.8411 3.86H25.0951L27.2931 10.524H26.1171L28.3011 3.86H30.4991L27.6851 11H25.6551ZM34.452 11.14C33.6586 11.14 32.968 10.986 32.38 10.678C31.792 10.3607 31.3346 9.922 31.008 9.362C30.6906 8.802 30.532 8.158 30.532 7.43C30.532 6.69267 30.6906 6.04867 31.008 5.498C31.3346 4.938 31.7873 4.504 32.366 4.196C32.9446 3.87867 33.6166 3.72 34.382 3.72C35.1193 3.72 35.7586 3.86933 36.3 4.168C36.8413 4.46667 37.2613 4.882 37.56 5.414C37.8586 5.946 38.008 6.57133 38.008 7.29C38.008 7.43933 38.0033 7.57933 37.994 7.71C37.9846 7.83133 37.9706 7.948 37.952 8.06H31.764V6.674H36.258L35.894 6.926C35.894 6.34733 35.754 5.92267 35.474 5.652C35.2033 5.372 34.83 5.232 34.354 5.232C33.8033 5.232 33.374 5.41867 33.066 5.792C32.7673 6.16533 32.618 6.72533 32.618 7.472C32.618 8.2 32.7673 8.74133 33.066 9.096C33.374 9.45067 33.8313 9.628 34.438 9.628C34.774 9.628 35.0633 9.572 35.306 9.46C35.5486 9.348 35.7306 9.166 35.852 8.914H37.826C37.5926 9.60467 37.1913 10.1507 36.622 10.552C36.062 10.944 35.3386 11.14 34.452 11.14ZM39.131 11V3.86H41.189V5.54H41.231V11H39.131ZM44.101 11V6.576C44.101 6.184 43.9983 5.89 43.793 5.694C43.597 5.498 43.3077 5.4 42.925 5.4C42.5983 5.4 42.3043 5.47467 42.043 5.624C41.791 5.77333 41.5903 5.97867 41.441 6.24C41.301 6.50133 41.231 6.80933 41.231 7.164L41.049 5.442C41.2823 4.91933 41.623 4.504 42.071 4.196C42.5283 3.87867 43.0883 3.72 43.751 3.72C44.5443 3.72 45.151 3.944 45.571 4.392C45.991 4.83067 46.201 5.42333 46.201 6.17V11H44.101ZM50.8862 11.154C49.9715 11.154 49.2902 10.9347 48.8422 10.496C48.4035 10.048 48.1842 9.37133 48.1842 8.466V2.264L50.2842 1.48V8.536C50.2842 8.85333 50.3729 9.09133 50.5502 9.25C50.7275 9.40867 51.0029 9.488 51.3762 9.488C51.5162 9.488 51.6469 9.474 51.7682 9.446C51.8895 9.418 52.0109 9.38533 52.1322 9.348V10.944C52.0109 11.0093 51.8382 11.0607 51.6142 11.098C51.3995 11.1353 51.1569 11.154 50.8862 11.154ZM46.8542 5.456V3.86H52.1322V5.456H46.8542ZM53.3224 11V3.86H55.4224V11H53.3224ZM53.2524 2.908V0.64H55.4924V2.908H53.2524ZM57.0959 11V3.86H59.1539V5.54H59.1959V11H57.0959ZM62.0659 11V6.576C62.0659 6.184 61.9632 5.89 61.7579 5.694C61.5619 5.498 61.2725 5.4 60.8899 5.4C60.5632 5.4 60.2692 5.47467 60.0079 5.624C59.7559 5.77333 59.5552 5.97867 59.4059 6.24C59.2659 6.50133 59.1959 6.80933 59.1959 7.164L59.0139 5.442C59.2472 4.91933 59.5879 4.504 60.0359 4.196C60.4932 3.87867 61.0532 3.72 61.7159 3.72C62.5092 3.72 63.1159 3.944 63.5359 4.392C63.9559 4.83067 64.1659 5.42333 64.1659 6.17V11H62.0659ZM69.0265 14.01C68.0372 14.01 67.2298 13.8 66.6045 13.38C65.9885 12.96 65.6245 12.3907 65.5125 11.672H67.5005C67.5752 11.8493 67.7338 11.9847 67.9765 12.078C68.2285 12.1713 68.5458 12.218 68.9285 12.218C69.5632 12.218 70.0252 12.0967 70.3145 11.854C70.6038 11.6113 70.7485 11.2333 70.7485 10.72V9.166L70.8605 9.194C70.7672 9.71667 70.4965 10.132 70.0485 10.44C69.6005 10.7387 69.0452 10.888 68.3825 10.888C67.7478 10.888 67.1925 10.7433 66.7165 10.454C66.2498 10.1553 65.8858 9.74 65.6245 9.208C65.3632 8.676 65.2325 8.05067 65.2325 7.332C65.2325 6.604 65.3678 5.96933 65.6385 5.428C65.9092 4.88667 66.2872 4.46667 66.7725 4.168C67.2672 3.86933 67.8412 3.72 68.4945 3.72C69.1665 3.72 69.7125 3.87867 70.1325 4.196C70.5618 4.51333 70.8138 4.94733 70.8885 5.498L70.7905 5.512V3.86H72.8485V10.692C72.8485 11.7187 72.5078 12.526 71.8265 13.114C71.1452 13.7113 70.2118 14.01 69.0265 14.01ZM69.1105 9.278C69.6052 9.278 70.0065 9.11 70.3145 8.774C70.6225 8.42867 70.7765 7.93867 70.7765 7.304C70.7765 6.66933 70.6178 6.184 70.3005 5.848C69.9925 5.50267 69.5865 5.33 69.0825 5.33C68.5972 5.33 68.1958 5.50267 67.8785 5.848C67.5705 6.19333 67.4165 6.68333 67.4165 7.318C67.4165 7.95267 67.5705 8.438 67.8785 8.774C68.1958 9.11 68.6065 9.278 69.1105 9.278ZM77.0535 11V0.92H79.2095V11H77.0535ZM78.0615 7.094V5.442H83.8435V7.094H78.0615ZM78.0615 2.572V0.92H84.1655V2.572H78.0615ZM89.3438 11C89.2878 10.7947 89.2458 10.5753 89.2178 10.342C89.1991 10.1087 89.1898 9.838 89.1898 9.53H89.1338V6.156C89.1338 5.86667 89.0358 5.64267 88.8398 5.484C88.6531 5.316 88.3731 5.232 87.9998 5.232C87.6451 5.232 87.3604 5.29267 87.1458 5.414C86.9404 5.53533 86.8051 5.71267 86.7398 5.946H84.7378C84.8311 5.302 85.1624 4.77 85.7318 4.35C86.3011 3.93 87.0804 3.72 88.0698 3.72C89.0964 3.72 89.8804 3.94867 90.4218 4.406C90.9631 4.86333 91.2338 5.52133 91.2338 6.38V9.53C91.2338 9.76333 91.2478 10.0013 91.2758 10.244C91.3131 10.4773 91.3691 10.7293 91.4438 11H89.3438ZM86.8518 11.14C86.1424 11.14 85.5778 10.9627 85.1578 10.608C84.7378 10.244 84.5278 9.76333 84.5278 9.166C84.5278 8.50333 84.7751 7.97133 85.2698 7.57C85.7738 7.15933 86.4738 6.89333 87.3698 6.772L89.4558 6.478V7.696L87.7198 7.962C87.3464 8.018 87.0711 8.12067 86.8938 8.27C86.7164 8.41933 86.6278 8.62467 86.6278 8.886C86.6278 9.11933 86.7118 9.29667 86.8798 9.418C87.0478 9.53933 87.2718 9.6 87.5518 9.6C87.9904 9.6 88.3638 9.48333 88.6718 9.25C88.9798 9.00733 89.1338 8.72733 89.1338 8.41L89.3298 9.53C89.1244 10.062 88.8118 10.4633 88.3918 10.734C87.9718 11.0047 87.4584 11.14 86.8518 11.14ZM92.8478 11V0.92H94.9478V11H92.8478ZM96.6213 11V0.92H98.7213V11H96.6213ZM103.279 11.14C102.233 11.14 101.403 10.93 100.787 10.51C100.171 10.09 99.8347 9.51133 99.7787 8.774H101.655C101.701 9.09133 101.86 9.334 102.131 9.502C102.411 9.66067 102.793 9.74 103.279 9.74C103.717 9.74 104.035 9.67933 104.231 9.558C104.436 9.42733 104.539 9.24533 104.539 9.012C104.539 8.83467 104.478 8.69933 104.357 8.606C104.245 8.50333 104.035 8.41933 103.727 8.354L102.579 8.116C101.729 7.93867 101.104 7.67267 100.703 7.318C100.301 6.954 100.101 6.48733 100.101 5.918C100.101 5.22733 100.367 4.69067 100.899 4.308C101.431 3.916 102.173 3.72 103.125 3.72C104.067 3.72 104.819 3.91133 105.379 4.294C105.939 4.66733 106.247 5.19 106.303 5.862H104.427C104.389 5.61933 104.259 5.43733 104.035 5.316C103.811 5.18533 103.493 5.12 103.083 5.12C102.709 5.12 102.429 5.176 102.243 5.288C102.065 5.39067 101.977 5.54 101.977 5.736C101.977 5.904 102.051 6.03933 102.201 6.142C102.35 6.23533 102.597 6.31933 102.943 6.394L104.231 6.66C104.949 6.80933 105.491 7.08933 105.855 7.5C106.228 7.90133 106.415 8.37733 106.415 8.928C106.415 9.628 106.139 10.174 105.589 10.566C105.047 10.9487 104.277 11.14 103.279 11.14ZM107.272 13.352V12.33C107.711 12.1993 107.996 12.008 108.126 11.756C108.257 11.504 108.322 11.1773 108.322 10.776L109.176 11H107.244V8.69H109.554V10.328C109.554 11.0653 109.382 11.7 109.036 12.232C108.691 12.764 108.103 13.1373 107.272 13.352ZM5.00416 28.126C3.69749 28.126 2.65216 27.8367 1.86816 27.258C1.08416 26.67 0.626823 25.844 0.496156 24.78H2.56816C2.63349 25.3213 2.89482 25.7507 3.35216 26.068C3.80949 26.376 4.39282 26.53 5.10216 26.53C5.68082 26.53 6.12416 26.4273 6.43216 26.222C6.74949 26.0167 6.90816 25.7413 6.90816 25.396C6.90816 25.0693 6.81482 24.808 6.62816 24.612C6.44149 24.4067 6.11949 24.2433 5.66216 24.122L3.78616 23.604C2.82482 23.3333 2.12016 22.9647 1.67216 22.498C1.23349 22.022 1.01416 21.4293 1.01416 20.72C1.01416 20.1133 1.16816 19.5907 1.47616 19.152C1.79349 18.704 2.23682 18.3633 2.80616 18.13C3.37549 17.8873 4.04282 17.766 4.80816 17.766C5.98416 17.766 6.92216 18.046 7.62216 18.606C8.32216 19.1567 8.71882 19.8893 8.81216 20.804H6.74016C6.64682 20.3093 6.41816 19.9453 6.05416 19.712C5.69949 19.4787 5.24216 19.362 4.68216 19.362C4.19682 19.362 3.80949 19.4553 3.52016 19.642C3.23082 19.8287 3.08616 20.0807 3.08616 20.398C3.08616 20.6407 3.16549 20.8647 3.32416 21.07C3.48282 21.266 3.81416 21.434 4.31816 21.574L6.19416 22.092C7.18349 22.3627 7.89282 22.736 8.32216 23.212C8.76082 23.6787 8.98016 24.2713 8.98016 24.99C8.98016 25.998 8.63016 26.7727 7.93016 27.314C7.23016 27.8553 6.25482 28.126 5.00416 28.126ZM14.627 28C14.571 27.7947 14.529 27.5753 14.501 27.342C14.4823 27.1087 14.473 26.838 14.473 26.53H14.417V23.156C14.417 22.8667 14.319 22.6427 14.123 22.484C13.9363 22.316 13.6563 22.232 13.283 22.232C12.9283 22.232 12.6436 22.2927 12.429 22.414C12.2236 22.5353 12.0883 22.7127 12.023 22.946H10.021C10.1143 22.302 10.4456 21.77 11.015 21.35C11.5843 20.93 12.3636 20.72 13.353 20.72C14.3796 20.72 15.1636 20.9487 15.705 21.406C16.2463 21.8633 16.517 22.5213 16.517 23.38V26.53C16.517 26.7633 16.531 27.0013 16.559 27.244C16.5963 27.4773 16.6523 27.7293 16.727 28H14.627ZM12.135 28.14C11.4256 28.14 10.861 27.9627 10.441 27.608C10.021 27.244 9.81097 26.7633 9.81097 26.166C9.81097 25.5033 10.0583 24.9713 10.553 24.57C11.057 24.1593 11.757 23.8933 12.653 23.772L14.739 23.478V24.696L13.003 24.962C12.6296 25.018 12.3543 25.1207 12.177 25.27C11.9996 25.4193 11.911 25.6247 11.911 25.886C11.911 26.1193 11.995 26.2967 12.163 26.418C12.331 26.5393 12.555 26.6 12.835 26.6C13.2736 26.6 13.647 26.4833 13.955 26.25C14.263 26.0073 14.417 25.7273 14.417 25.41L14.613 26.53C14.4076 27.062 14.095 27.4633 13.675 27.734C13.255 28.0047 12.7416 28.14 12.135 28.14ZM19.6122 28L16.7982 20.86H19.0522L21.2502 27.524H20.0742L22.2582 20.86H24.4562L21.6422 28H19.6122ZM25.1447 28V20.86H27.2447V28H25.1447ZM25.0747 19.908V17.64H27.3147V19.908H25.0747ZM28.9181 28V20.86H30.9761V22.54H31.0181V28H28.9181ZM33.8881 28V23.576C33.8881 23.184 33.7855 22.89 33.5801 22.694C33.3841 22.498 33.0948 22.4 32.7121 22.4C32.3855 22.4 32.0915 22.4747 31.8301 22.624C31.5781 22.7733 31.3775 22.9787 31.2281 23.24C31.0881 23.5013 31.0181 23.8093 31.0181 24.164L30.8361 22.442C31.0695 21.9193 31.4101 21.504 31.8581 21.196C32.3155 20.8787 32.8755 20.72 33.5381 20.72C34.3315 20.72 34.9381 20.944 35.3581 21.392C35.7781 21.8307 35.9881 22.4233 35.9881 23.17V28H33.8881ZM40.8488 31.01C39.8594 31.01 39.0521 30.8 38.4268 30.38C37.8108 29.96 37.4468 29.3907 37.3348 28.672H39.3228C39.3974 28.8493 39.5561 28.9847 39.7988 29.078C40.0508 29.1713 40.3681 29.218 40.7508 29.218C41.3854 29.218 41.8474 29.0967 42.1368 28.854C42.4261 28.6113 42.5708 28.2333 42.5708 27.72V26.166L42.6828 26.194C42.5894 26.7167 42.3188 27.132 41.8708 27.44C41.4228 27.7387 40.8674 27.888 40.2048 27.888C39.5701 27.888 39.0148 27.7433 38.5388 27.454C38.0721 27.1553 37.7081 26.74 37.4468 26.208C37.1854 25.676 37.0548 25.0507 37.0548 24.332C37.0548 23.604 37.1901 22.9693 37.4608 22.428C37.7314 21.8867 38.1094 21.4667 38.5948 21.168C39.0894 20.8693 39.6634 20.72 40.3167 20.72C40.9888 20.72 41.5348 20.8787 41.9548 21.196C42.3841 21.5133 42.6361 21.9473 42.7108 22.498L42.6128 22.512V20.86H44.6708V27.692C44.6708 28.7187 44.3301 29.526 43.6488 30.114C42.9674 30.7113 42.0341 31.01 40.8488 31.01ZM40.9328 26.278C41.4274 26.278 41.8288 26.11 42.1368 25.774C42.4448 25.4287 42.5988 24.9387 42.5988 24.304C42.5988 23.6693 42.4401 23.184 42.1228 22.848C41.8148 22.5027 41.4088 22.33 40.9048 22.33C40.4194 22.33 40.0181 22.5027 39.7008 22.848C39.3928 23.1933 39.2388 23.6833 39.2388 24.318C39.2388 24.9527 39.3928 25.438 39.7008 25.774C40.0181 26.11 40.4288 26.278 40.9328 26.278ZM48.8758 28V17.92H51.0318V28H48.8758ZM49.8838 28V26.348H55.8758V28H49.8838ZM56.9045 28V20.86H59.0045V28H56.9045ZM56.8345 19.908V17.64H59.0745V19.908H56.8345ZM62.5008 28L59.6868 20.86H61.9408L64.1388 27.524H62.9628L65.1468 20.86H67.3448L64.5308 28H62.5008ZM71.2977 28.14C70.5043 28.14 69.8137 27.986 69.2257 27.678C68.6377 27.3607 68.1803 26.922 67.8537 26.362C67.5363 25.802 67.3777 25.158 67.3777 24.43C67.3777 23.6927 67.5363 23.0487 67.8537 22.498C68.1803 21.938 68.633 21.504 69.2117 21.196C69.7903 20.8787 70.4623 20.72 71.2277 20.72C71.965 20.72 72.6043 20.8693 73.1457 21.168C73.687 21.4667 74.107 21.882 74.4057 22.414C74.7043 22.946 74.8537 23.5713 74.8537 24.29C74.8537 24.4393 74.849 24.5793 74.8397 24.71C74.8303 24.8313 74.8163 24.948 74.7977 25.06H68.6097V23.674H73.1037L72.7397 23.926C72.7397 23.3473 72.5997 22.9227 72.3197 22.652C72.049 22.372 71.6757 22.232 71.1997 22.232C70.649 22.232 70.2197 22.4187 69.9117 22.792C69.613 23.1653 69.4637 23.7253 69.4637 24.472C69.4637 25.2 69.613 25.7413 69.9117 26.096C70.2197 26.4507 70.677 26.628 71.2837 26.628C71.6197 26.628 71.909 26.572 72.1517 26.46C72.3943 26.348 72.5763 26.166 72.6977 25.914H74.6717C74.4383 26.6047 74.037 27.1507 73.4677 27.552C72.9077 27.944 72.1843 28.14 71.2977 28.14ZM78.9291 28.14C77.8837 28.14 77.0531 27.93 76.4371 27.51C75.8211 27.09 75.4851 26.5113 75.4291 25.774H77.3051C77.3517 26.0913 77.5104 26.334 77.7811 26.502C78.0611 26.6607 78.4437 26.74 78.9291 26.74C79.3677 26.74 79.6851 26.6793 79.8811 26.558C80.0864 26.4273 80.1891 26.2453 80.1891 26.012C80.1891 25.8347 80.1284 25.6993 80.0071 25.606C79.8951 25.5033 79.6851 25.4193 79.3771 25.354L78.2291 25.116C77.3797 24.9387 76.7544 24.6727 76.3531 24.318C75.9517 23.954 75.7511 23.4873 75.7511 22.918C75.7511 22.2273 76.0171 21.6907 76.5491 21.308C77.0811 20.916 77.8231 20.72 78.7751 20.72C79.7177 20.72 80.4691 20.9113 81.0291 21.294C81.5891 21.6673 81.8971 22.19 81.9531 22.862H80.0771C80.0397 22.6193 79.9091 22.4373 79.6851 22.316C79.4611 22.1853 79.1437 22.12 78.7331 22.12C78.3597 22.12 78.0797 22.176 77.8931 22.288C77.7157 22.3907 77.6271 22.54 77.6271 22.736C77.6271 22.904 77.7017 23.0393 77.8511 23.142C78.0004 23.2353 78.2477 23.3193 78.5931 23.394L79.8811 23.66C80.5997 23.8093 81.1411 24.0893 81.5051 24.5C81.8784 24.9013 82.0651 25.3773 82.0651 25.928C82.0651 26.628 81.7897 27.174 81.2391 27.566C80.6977 27.9487 79.9277 28.14 78.9291 28.14Z" fill="white"/>
          </svg>

      </div>
      <ul
            class=`flex space-x-[26px] font-barlow pl-10 text-[15.4px] leading-[19.6px] tracking-[0.66px] font-normal px-4 mr-[14%]`
            id="content"
          >
          {navbarContent?.map((item)=>
            <li>
              <a href={`${item.url}`} class="hover:underline hover:text-white text-gray-300">{item.title}</a>
            </li>
          )}
      </ul>  
      {pathname === "/plan/" ? "" : <div class="flex gap-5 justify-end">
        {/* <button class="relative">
          <Image id="account" src={Account} alt={'Account'}/>
        </button> */}
            <ul id="accountDetails" style={{display:"none"}} class="absolute hover:cursor-pointer top-[85%] right-[13%] bg-white w-[8.5rem] rounded-xl font-sans-instrument font-normal text-lg">
              {popUpMenu?.map((item)=>
                <>
                {!loginCredential && item.title === "Login" &&
                  <a href={`${item.url}`}>
              <li class="p-3 hover:text-primary">{item.title}</li>
              </a>
                }
                { item.title !== "Login" &&
                  <a href={`${item.url}`}>
              <li class="p-3 hover:text-primary">{item.title}</li>
              </a>
                }
                </>
              )}
            </ul>
            {/* order button */}
        <a href="https://shop.eyeagle.ai/products/eyeagle-package-prevention-app">
          <button class="bg-primary font-sans-instrument text-white px-4 py-3 text-base rounded-3xl font-semibold">{buttonContent}</button>
        </a>
      </div>}
      </nav>
    </header>
    <header
      id="mobileNav"
      class="lg:hidden sticky top-0 shadow z-40 bg-black w-full"
    >
      <nav class="flex justify-between items-center px-5 py-4">
    <div class="flex items-center gap-4">
    <a href="/" aria-label="EyEagle Home Page">
      <Image src={EyeagleLogo} alt="EyEagle Logo" quality={'max'} class="w-[9.188rem]" />
    </a>
    <div class="h-8 w-px bg-gray-300"></div>
    <!-- <p class="text-white text-xs font-sans-instrument">
      Preventing Falls,<br />Saving Lives
    </p> -->
    <svg width="87" height="25" viewBox="0 0 87 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.639844 9.10712V1.18712H4.40184C4.98851 1.18712 5.49084 1.28978 5.90884 1.49512C6.33418 1.70045 6.66051 1.98645 6.88784 2.35312C7.12251 2.71978 7.23984 3.14878 7.23984 3.64012C7.23984 4.13145 7.12251 4.56412 6.88784 4.93812C6.65318 5.31212 6.32318 5.60545 5.89784 5.81812C5.47984 6.02345 4.98118 6.12612 4.40184 6.12612H1.98184V4.82812H4.31384C4.70251 4.82812 5.00318 4.72178 5.21584 4.50912C5.43584 4.28912 5.54584 4.00312 5.54584 3.65112C5.54584 3.29912 5.43584 3.01678 5.21584 2.80412C5.00318 2.59145 4.70251 2.48512 4.31384 2.48512H2.33384V9.10712H0.639844ZM8.14047 9.10712V3.49712H9.75747V4.81712H9.79047V9.10712H8.14047ZM9.79047 6.18112L9.64747 4.85012C9.77947 4.37345 9.9958 4.01045 10.2965 3.76112C10.5971 3.51178 10.9711 3.38712 11.4185 3.38712C11.5578 3.38712 11.6605 3.40178 11.7265 3.43112V4.97112C11.6898 4.95645 11.6385 4.94912 11.5725 4.94912C11.5065 4.94178 11.4258 4.93812 11.3305 4.93812C10.8025 4.93812 10.4138 5.03345 10.1645 5.22412C9.91514 5.40745 9.79047 5.72645 9.79047 6.18112ZM15.0773 9.21712C14.454 9.21712 13.9113 9.09612 13.4493 8.85412C12.9873 8.60478 12.628 8.26012 12.3713 7.82012C12.122 7.38012 11.9973 6.87412 11.9973 6.30212C11.9973 5.72278 12.122 5.21678 12.3713 4.78412C12.628 4.34412 12.9837 4.00312 13.4383 3.76112C13.893 3.51178 14.421 3.38712 15.0223 3.38712C15.6017 3.38712 16.104 3.50445 16.5293 3.73912C16.9547 3.97378 17.2847 4.30012 17.5193 4.71812C17.754 5.13612 17.8713 5.62745 17.8713 6.19212C17.8713 6.30945 17.8677 6.41945 17.8603 6.52212C17.853 6.61745 17.842 6.70912 17.8273 6.79712H12.9653V5.70812H16.4963L16.2103 5.90612C16.2103 5.45145 16.1003 5.11778 15.8803 4.90512C15.6677 4.68512 15.3743 4.57512 15.0003 4.57512C14.5677 4.57512 14.2303 4.72178 13.9883 5.01512C13.7537 5.30845 13.6363 5.74845 13.6363 6.33512C13.6363 6.90712 13.7537 7.33245 13.9883 7.61112C14.2303 7.88978 14.5897 8.02912 15.0663 8.02912C15.3303 8.02912 15.5577 7.98512 15.7483 7.89712C15.939 7.80912 16.082 7.66612 16.1773 7.46812H17.7283C17.545 8.01078 17.2297 8.43978 16.7823 8.75512C16.3423 9.06312 15.774 9.21712 15.0773 9.21712ZM20.1216 9.10712L17.9106 3.49712H19.6816L21.4086 8.73312H20.4846L22.2006 3.49712H23.9276L21.7166 9.10712H20.1216ZM27.0334 9.21712C26.4101 9.21712 25.8674 9.09612 25.4054 8.85412C24.9434 8.60478 24.5841 8.26012 24.3274 7.82012C24.0781 7.38012 23.9534 6.87412 23.9534 6.30212C23.9534 5.72278 24.0781 5.21678 24.3274 4.78412C24.5841 4.34412 24.9397 4.00312 25.3944 3.76112C25.8491 3.51178 26.3771 3.38712 26.9784 3.38712C27.5577 3.38712 28.0601 3.50445 28.4854 3.73912C28.9107 3.97378 29.2407 4.30012 29.4754 4.71812C29.7101 5.13612 29.8274 5.62745 29.8274 6.19212C29.8274 6.30945 29.8237 6.41945 29.8164 6.52212C29.8091 6.61745 29.7981 6.70912 29.7834 6.79712H24.9214V5.70812H28.4524L28.1664 5.90612C28.1664 5.45145 28.0564 5.11778 27.8364 4.90512C27.6237 4.68512 27.3304 4.57512 26.9564 4.57512C26.5237 4.57512 26.1864 4.72178 25.9444 5.01512C25.7097 5.30845 25.5924 5.74845 25.5924 6.33512C25.5924 6.90712 25.7097 7.33245 25.9444 7.61112C26.1864 7.88978 26.5457 8.02912 27.0224 8.02912C27.2864 8.02912 27.5137 7.98512 27.7044 7.89712C27.8951 7.80912 28.0381 7.66612 28.1334 7.46812H29.6844C29.5011 8.01078 29.1857 8.43978 28.7384 8.75512C28.2984 9.06312 27.7301 9.21712 27.0334 9.21712ZM30.7098 9.10712V3.49712H32.3268V4.81712H32.3598V9.10712H30.7098ZM34.6148 9.10712V5.63112C34.6148 5.32312 34.5341 5.09212 34.3728 4.93812C34.2188 4.78412 33.9915 4.70712 33.6908 4.70712C33.4341 4.70712 33.2031 4.76578 32.9978 4.88312C32.7998 5.00045 32.6421 5.16178 32.5248 5.36712C32.4148 5.57245 32.3598 5.81445 32.3598 6.09312L32.2168 4.74012C32.4001 4.32945 32.6678 4.00312 33.0198 3.76112C33.3791 3.51178 33.8191 3.38712 34.3398 3.38712C34.9631 3.38712 35.4398 3.56312 35.7698 3.91512C36.0998 4.25978 36.2648 4.72545 36.2648 5.31212V9.10712H34.6148ZM39.946 9.22812C39.2274 9.22812 38.692 9.05578 38.34 8.71112C37.9954 8.35912 37.823 7.82745 37.823 7.11612V2.24312L39.473 1.62712V7.17112C39.473 7.42045 39.5427 7.60745 39.682 7.73212C39.8214 7.85678 40.0377 7.91912 40.331 7.91912C40.441 7.91912 40.5437 7.90812 40.639 7.88612C40.7344 7.86412 40.8297 7.83845 40.925 7.80912V9.06312C40.8297 9.11445 40.694 9.15478 40.518 9.18412C40.3494 9.21345 40.1587 9.22812 39.946 9.22812ZM36.778 4.75112V3.49712H40.925V4.75112H36.778ZM41.8602 9.10712V3.49712H43.5102V9.10712H41.8602ZM41.8052 2.74912V0.967117H43.5652V2.74912H41.8052ZM44.825 9.10712V3.49712H46.442V4.81712H46.475V9.10712H44.825ZM48.73 9.10712V5.63112C48.73 5.32312 48.6494 5.09212 48.488 4.93812C48.334 4.78412 48.1067 4.70712 47.806 4.70712C47.5494 4.70712 47.3184 4.76578 47.113 4.88312C46.915 5.00045 46.7574 5.16178 46.64 5.36712C46.53 5.57245 46.475 5.81445 46.475 6.09312L46.332 4.74012C46.5154 4.32945 46.783 4.00312 47.135 3.76112C47.4944 3.51178 47.9344 3.38712 48.455 3.38712C49.0784 3.38712 49.555 3.56312 49.885 3.91512C50.215 4.25978 50.38 4.72545 50.38 5.31212V9.10712H48.73ZM54.1991 11.4721C53.4218 11.4721 52.7874 11.3071 52.2961 10.9771C51.8121 10.6471 51.5261 10.1998 51.4381 9.63512H53.0001C53.0588 9.77445 53.1834 9.88078 53.3741 9.95412C53.5721 10.0275 53.8214 10.0641 54.1221 10.0641C54.6208 10.0641 54.9838 9.96878 55.2111 9.77812C55.4384 9.58745 55.5521 9.29045 55.5521 8.88712V7.66612L55.6401 7.68812C55.5668 8.09878 55.3541 8.42512 55.0021 8.66712C54.6501 8.90178 54.2138 9.01912 53.6931 9.01912C53.1944 9.01912 52.7581 8.90545 52.3841 8.67812C52.0174 8.44345 51.7314 8.11712 51.5261 7.69912C51.3208 7.28112 51.2181 6.78978 51.2181 6.22512C51.2181 5.65312 51.3244 5.15445 51.5371 4.72912C51.7498 4.30378 52.0468 3.97378 52.4281 3.73912C52.8168 3.50445 53.2678 3.38712 53.7811 3.38712C54.3091 3.38712 54.7381 3.51178 55.0681 3.76112C55.4054 4.01045 55.6034 4.35145 55.6621 4.78412L55.5851 4.79512V3.49712H57.2021V8.86512C57.2021 9.67178 56.9344 10.3061 56.3991 10.7681C55.8638 11.2375 55.1304 11.4721 54.1991 11.4721ZM54.2651 7.75412C54.6538 7.75412 54.9691 7.62212 55.2111 7.35812C55.4531 7.08678 55.5741 6.70178 55.5741 6.20312C55.5741 5.70445 55.4494 5.32312 55.2001 5.05912C54.9581 4.78778 54.6391 4.65212 54.2431 4.65212C53.8618 4.65212 53.5464 4.78778 53.2971 5.05912C53.0551 5.33045 52.9341 5.71545 52.9341 6.21412C52.9341 6.71278 53.0551 7.09412 53.2971 7.35812C53.5464 7.62212 53.8691 7.75412 54.2651 7.75412ZM60.5061 9.10712V1.18712H62.2001V9.10712H60.5061ZM61.2981 6.03812V4.74012H65.8411V6.03812H61.2981ZM61.2981 2.48512V1.18712H66.0941V2.48512H61.2981ZM70.1627 9.10712C70.1187 8.94578 70.0857 8.77345 70.0637 8.59012C70.049 8.40678 70.0417 8.19412 70.0417 7.95212H69.9977V5.30112C69.9977 5.07378 69.9207 4.89778 69.7667 4.77312C69.62 4.64112 69.4 4.57512 69.1067 4.57512C68.828 4.57512 68.6043 4.62278 68.4357 4.71812C68.2743 4.81345 68.168 4.95278 68.1167 5.13612H66.5437C66.617 4.63012 66.8773 4.21212 67.3247 3.88212C67.772 3.55212 68.3843 3.38712 69.1617 3.38712C69.9683 3.38712 70.5843 3.56678 71.0097 3.92612C71.435 4.28545 71.6477 4.80245 71.6477 5.47712V7.95212C71.6477 8.13545 71.6587 8.32245 71.6807 8.51312C71.71 8.69645 71.754 8.89445 71.8127 9.10712H70.1627ZM68.2047 9.21712C67.6473 9.21712 67.2037 9.07778 66.8737 8.79912C66.5437 8.51312 66.3787 8.13545 66.3787 7.66612C66.3787 7.14545 66.573 6.72745 66.9617 6.41212C67.3577 6.08945 67.9077 5.88045 68.6117 5.78512L70.2507 5.55412V6.51112L68.8867 6.72012C68.5933 6.76412 68.377 6.84478 68.2377 6.96212C68.0983 7.07945 68.0287 7.24078 68.0287 7.44612C68.0287 7.62945 68.0947 7.76878 68.2267 7.86412C68.3587 7.95945 68.5347 8.00712 68.7547 8.00712C69.0993 8.00712 69.3927 7.91545 69.6347 7.73212C69.8767 7.54145 69.9977 7.32145 69.9977 7.07212L70.1517 7.95212C69.9903 8.37012 69.7447 8.68545 69.4147 8.89812C69.0847 9.11078 68.6813 9.21712 68.2047 9.21712ZM72.9159 9.10712V1.18712H74.5659V9.10712H72.9159ZM75.8807 9.10712V1.18712H77.5307V9.10712H75.8807ZM81.1115 9.21712C80.2902 9.21712 79.6375 9.05212 79.1535 8.72212C78.6695 8.39212 78.4055 7.93745 78.3615 7.35812H79.8355C79.8722 7.60745 79.9969 7.79812 80.2095 7.93012C80.4295 8.05478 80.7302 8.11712 81.1115 8.11712C81.4562 8.11712 81.7055 8.06945 81.8595 7.97412C82.0209 7.87145 82.1015 7.72845 82.1015 7.54512C82.1015 7.40578 82.0539 7.29945 81.9585 7.22612C81.8705 7.14545 81.7055 7.07945 81.4635 7.02812L80.5615 6.84112C79.8942 6.70178 79.4029 6.49278 79.0875 6.21412C78.7722 5.92812 78.6145 5.56145 78.6145 5.11412C78.6145 4.57145 78.8235 4.14978 79.2415 3.84912C79.6595 3.54112 80.2425 3.38712 80.9905 3.38712C81.7312 3.38712 82.3215 3.53745 82.7615 3.83812C83.2015 4.13145 83.4435 4.54212 83.4875 5.07012H82.0135C81.9842 4.87945 81.8815 4.73645 81.7055 4.64112C81.5295 4.53845 81.2802 4.48712 80.9575 4.48712C80.6642 4.48712 80.4442 4.53112 80.2975 4.61912C80.1582 4.69978 80.0885 4.81712 80.0885 4.97112C80.0885 5.10312 80.1472 5.20945 80.2645 5.29012C80.3819 5.36345 80.5762 5.42945 80.8475 5.48812L81.8595 5.69712C82.4242 5.81445 82.8495 6.03445 83.1355 6.35712C83.4289 6.67245 83.5755 7.04645 83.5755 7.47912C83.5755 8.02912 83.3592 8.45812 82.9265 8.76612C82.5012 9.06678 81.8962 9.21712 81.1115 9.21712ZM84.2494 10.9551V10.1521C84.594 10.0495 84.8177 9.89912 84.9204 9.70112C85.023 9.50312 85.0744 9.24645 85.0744 8.93112L85.7454 9.10712H84.2274V7.29212H86.0424V8.57912C86.0424 9.15845 85.9067 9.65712 85.6354 10.0751C85.364 10.4931 84.902 10.7865 84.2494 10.9551ZM3.89584 22.2061C2.86918 22.2061 2.04784 21.9788 1.43184 21.5241C0.815844 21.0621 0.45651 20.4131 0.353844 19.5771H1.98184C2.03318 20.0024 2.23851 20.3398 2.59784 20.5891C2.95718 20.8311 3.41551 20.9521 3.97284 20.9521C4.42751 20.9521 4.77584 20.8714 5.01784 20.7101C5.26718 20.5488 5.39184 20.3324 5.39184 20.0611C5.39184 19.8044 5.31851 19.5991 5.17184 19.4451C5.02518 19.2838 4.77218 19.1555 4.41284 19.0601L2.93884 18.6531C2.18351 18.4404 1.62984 18.1508 1.27784 17.7841C0.933177 17.4101 0.760844 16.9444 0.760844 16.3871C0.760844 15.9104 0.881844 15.4998 1.12384 15.1551C1.37318 14.8031 1.72151 14.5354 2.16884 14.3521C2.61618 14.1614 3.14051 14.0661 3.74184 14.0661C4.66584 14.0661 5.40284 14.2861 5.95284 14.7261C6.50284 15.1588 6.81451 15.7344 6.88784 16.4531H5.25984C5.18651 16.0644 5.00684 15.7784 4.72084 15.5951C4.44218 15.4118 4.08284 15.3201 3.64284 15.3201C3.26151 15.3201 2.95718 15.3934 2.72984 15.5401C2.50251 15.6868 2.38884 15.8848 2.38884 16.1341C2.38884 16.3248 2.45118 16.5008 2.57584 16.6621C2.70051 16.8161 2.96084 16.9481 3.35684 17.0581L4.83084 17.4651C5.60818 17.6778 6.16551 17.9711 6.50284 18.3451C6.84751 18.7118 7.01984 19.1774 7.01984 19.7421C7.01984 20.5341 6.74484 21.1428 6.19484 21.5681C5.64484 21.9935 4.87851 22.2061 3.89584 22.2061ZM11.4566 22.1071C11.4126 21.9458 11.3796 21.7735 11.3576 21.5901C11.343 21.4068 11.3356 21.1941 11.3356 20.9521H11.2916V18.3011C11.2916 18.0738 11.2146 17.8978 11.0606 17.7731C10.914 17.6411 10.694 17.5751 10.4006 17.5751C10.122 17.5751 9.89829 17.6228 9.72963 17.7181C9.56829 17.8134 9.46196 17.9528 9.41063 18.1361H7.83763C7.91096 17.6301 8.17129 17.2121 8.61863 16.8821C9.06596 16.5521 9.67829 16.3871 10.4556 16.3871C11.2623 16.3871 11.8783 16.5668 12.3036 16.9261C12.729 17.2854 12.9416 17.8024 12.9416 18.4771V20.9521C12.9416 21.1354 12.9526 21.3224 12.9746 21.5131C13.004 21.6965 13.048 21.8945 13.1066 22.1071H11.4566ZM9.49863 22.2171C8.94129 22.2171 8.49763 22.0778 8.16763 21.7991C7.83763 21.5131 7.67263 21.1354 7.67263 20.6661C7.67263 20.1454 7.86696 19.7274 8.25563 19.4121C8.65163 19.0894 9.20163 18.8804 9.90563 18.7851L11.5446 18.5541V19.5111L10.1806 19.7201C9.88729 19.7641 9.67096 19.8448 9.53163 19.9621C9.39229 20.0794 9.32263 20.2408 9.32263 20.4461C9.32263 20.6294 9.38863 20.7688 9.52063 20.8641C9.65263 20.9595 9.82863 21.0071 10.0486 21.0071C10.3933 21.0071 10.6866 20.9155 10.9286 20.7321C11.1706 20.5414 11.2916 20.3214 11.2916 20.0721L11.4456 20.9521C11.2843 21.3701 11.0386 21.6855 10.7086 21.8981C10.3786 22.1108 9.97529 22.2171 9.49863 22.2171ZM15.3736 22.1071L13.1626 16.4971H14.9336L16.6606 21.7331H15.7366L17.4526 16.4971H19.1796L16.9686 22.1071H15.3736ZM19.7205 22.1071V16.4971H21.3705V22.1071H19.7205ZM19.6655 15.7491V13.9671H21.4255V15.7491H19.6655ZM22.6854 22.1071V16.4971H24.3024V17.8171H24.3354V22.1071H22.6854ZM26.5904 22.1071V18.6311C26.5904 18.3231 26.5097 18.0921 26.3484 17.9381C26.1944 17.7841 25.9671 17.7071 25.6664 17.7071C25.4097 17.7071 25.1787 17.7658 24.9734 17.8831C24.7754 18.0004 24.6177 18.1618 24.5004 18.3671C24.3904 18.5724 24.3354 18.8144 24.3354 19.0931L24.1924 17.7401C24.3757 17.3294 24.6434 17.0031 24.9954 16.7611C25.3547 16.5118 25.7947 16.3871 26.3154 16.3871C26.9387 16.3871 27.4154 16.5631 27.7454 16.9151C28.0754 17.2598 28.2404 17.7254 28.2404 18.3121V22.1071H26.5904ZM32.0595 24.4721C31.2821 24.4721 30.6478 24.3071 30.1565 23.9771C29.6725 23.6471 29.3865 23.1998 29.2985 22.6351H30.8605C30.9191 22.7745 31.0438 22.8808 31.2345 22.9541C31.4325 23.0275 31.6818 23.0641 31.9825 23.0641C32.4811 23.0641 32.8441 22.9688 33.0715 22.7781C33.2988 22.5875 33.4125 22.2905 33.4125 21.8871V20.6661L33.5005 20.6881C33.4271 21.0988 33.2145 21.4251 32.8625 21.6671C32.5105 21.9018 32.0741 22.0191 31.5535 22.0191C31.0548 22.0191 30.6185 21.9055 30.2445 21.6781C29.8778 21.4435 29.5918 21.1171 29.3865 20.6991C29.1811 20.2811 29.0785 19.7898 29.0785 19.2251C29.0785 18.6531 29.1848 18.1544 29.3975 17.7291C29.6101 17.3038 29.9071 16.9738 30.2885 16.7391C30.6771 16.5044 31.1281 16.3871 31.6415 16.3871C32.1695 16.3871 32.5985 16.5118 32.9285 16.7611C33.2658 17.0104 33.4638 17.3514 33.5225 17.7841L33.4455 17.7951V16.4971H35.0625V21.8651C35.0625 22.6718 34.7948 23.3061 34.2595 23.7681C33.7241 24.2375 32.9908 24.4721 32.0595 24.4721ZM32.1255 20.7541C32.5141 20.7541 32.8295 20.6221 33.0715 20.3581C33.3135 20.0868 33.4345 19.7018 33.4345 19.2031C33.4345 18.7044 33.3098 18.3231 33.0605 18.0591C32.8185 17.7878 32.4995 17.6521 32.1035 17.6521C31.7221 17.6521 31.4068 17.7878 31.1575 18.0591C30.9155 18.3304 30.7945 18.7154 30.7945 19.2141C30.7945 19.7128 30.9155 20.0941 31.1575 20.3581C31.4068 20.6221 31.7295 20.7541 32.1255 20.7541ZM38.3664 22.1071V14.1871H40.0604V22.1071H38.3664ZM39.1584 22.1071V20.8091H43.8664V22.1071H39.1584ZM44.6746 22.1071V16.4971H46.3246V22.1071H44.6746ZM44.6196 15.7491V13.9671H46.3796V15.7491H44.6196ZM49.0718 22.1071L46.8608 16.4971H48.6318L50.3588 21.7331H49.4348L51.1508 16.4971H52.8778L50.6668 22.1071H49.0718ZM55.9836 22.2171C55.3603 22.2171 54.8176 22.0961 54.3556 21.8541C53.8936 21.6048 53.5343 21.2601 53.2776 20.8201C53.0283 20.3801 52.9036 19.8741 52.9036 19.3021C52.9036 18.7228 53.0283 18.2168 53.2776 17.7841C53.5343 17.3441 53.8899 17.0031 54.3446 16.7611C54.7993 16.5118 55.3273 16.3871 55.9286 16.3871C56.5079 16.3871 57.0103 16.5044 57.4356 16.7391C57.8609 16.9738 58.1909 17.3001 58.4256 17.7181C58.6603 18.1361 58.7776 18.6274 58.7776 19.1921C58.7776 19.3094 58.7739 19.4194 58.7666 19.5221C58.7593 19.6174 58.7483 19.7091 58.7336 19.7971H53.8716V18.7081H57.4026L57.1166 18.9061C57.1166 18.4514 57.0066 18.1178 56.7866 17.9051C56.5739 17.6851 56.2806 17.5751 55.9066 17.5751C55.4739 17.5751 55.1366 17.7218 54.8946 18.0151C54.6599 18.3084 54.5426 18.7484 54.5426 19.3351C54.5426 19.9071 54.6599 20.3324 54.8946 20.6111C55.1366 20.8898 55.4959 21.0291 55.9726 21.0291C56.2366 21.0291 56.4639 20.9851 56.6546 20.8971C56.8453 20.8091 56.9883 20.6661 57.0836 20.4681H58.6346C58.4513 21.0108 58.1359 21.4398 57.6886 21.7551C57.2486 22.0631 56.6803 22.2171 55.9836 22.2171ZM61.9797 22.2171C61.1584 22.2171 60.5057 22.0521 60.0217 21.7221C59.5377 21.3921 59.2737 20.9374 59.2297 20.3581H60.7037C60.7404 20.6074 60.865 20.7981 61.0777 20.9301C61.2977 21.0548 61.5984 21.1171 61.9797 21.1171C62.3244 21.1171 62.5737 21.0694 62.7277 20.9741C62.889 20.8714 62.9697 20.7284 62.9697 20.5451C62.9697 20.4058 62.922 20.2994 62.8267 20.2261C62.7387 20.1454 62.5737 20.0794 62.3317 20.0281L61.4297 19.8411C60.7624 19.7018 60.271 19.4928 59.9557 19.2141C59.6404 18.9281 59.4827 18.5614 59.4827 18.1141C59.4827 17.5714 59.6917 17.1498 60.1097 16.8491C60.5277 16.5411 61.1107 16.3871 61.8587 16.3871C62.5994 16.3871 63.1897 16.5374 63.6297 16.8381C64.0697 17.1314 64.3117 17.5421 64.3557 18.0701H62.8817C62.8524 17.8794 62.7497 17.7364 62.5737 17.6411C62.3977 17.5384 62.1484 17.4871 61.8257 17.4871C61.5324 17.4871 61.3124 17.5311 61.1657 17.6191C61.0264 17.6998 60.9567 17.8171 60.9567 17.9711C60.9567 18.1031 61.0154 18.2094 61.1327 18.2901C61.25 18.3634 61.4444 18.4294 61.7157 18.4881L62.7277 18.6971C63.2924 18.8145 63.7177 19.0345 64.0037 19.3571C64.297 19.6724 64.4437 20.0464 64.4437 20.4791C64.4437 21.0291 64.2274 21.4581 63.7947 21.7661C63.3694 22.0668 62.7644 22.2171 61.9797 22.2171Z" fill="white"/>
    </svg>
  </div>
    <div id="hamburger">
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
        <rect width="48" height="48" rx="24" fill="#000000"></rect>
            <path
              d="M12.3335 18.167H30.6668"
              stroke="#F6F4F2"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M12.3335 24H30.6668"
              stroke="#F6F4F2"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M12.3335 29.833H30.6668"
              stroke="#F6F4F2"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
      </svg>

        </div>
        <div id="crossButton" style={{display:"none"}}>
      <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="48" height="48" rx="24" fill="black"/>
        <path d="M29.8337 18.167L18.167 29.8337M18.167 18.167L29.8337 29.8337" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
  </div>
</nav>
    </header>
    <section
      id="mobileNavContent"
      style={{ display: "none" }}
      class="lg:hidden fixed z-[60] top-22 bg-white h-auto w-full text-center text-lg font-normal py-5 shadow"
    >
      <ul class="grid justify-center items-center gap-8 font-sans-instrument">
        {navbarContent?.map((item)=>
         <li class="hover:cursor-pointer hover:text-primary"><a href={`${item.url}`}>{item.title}</a></li>
        )}
        <a href="/join/">
          <button class="bg-primary text-white px-4 py-3 rounded-3xl font-semibold">{buttonContent}</button>
        </a>
      </ul>
    </section>
    
    <main class="font-sans-instrument">
      <slot />
    </main>

    <footer id="footer" class={`py-8 lg:py-20 ${footerClass} xl:container`}>
      <!-- <div
        class="flex max-lg:grid max-lg:gap-8 lg:justify-center justify-center max-lg:w-full items-center lg:mx-auto px-4 lg:px-32"
      >
      </div> -->
      <div class="flex lg:grid lg:grid-cols-2 flex-col">
      <div
        class="font-sans-instrument lg:mx-[7.5rem] mx-4 lg:mb-10 mb-4 grid gap-8 max-lg:text-start justify-center text-center lg:flex flex-col"
      >
      <Image src={EyeagleLogoBlack} alt={"Eyeagle Logo"} class="w-[163px]" />
        <div class="flex justify-center lg:justify-start gap-4 mb-4">
        <a href="https://in.linkedin.com/in/eyeagle-ai-036996362?trk=org-employees" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
        <path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"></path>
        </svg>
        </a>

        <a href="https://www.x.com/eyeagle_ai" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
        <path d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path>
        </svg>  
        </a>

        <a href="https://www.instagram.com/eyeagle_ai" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
        <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>  
        </svg>
        </a>

        <a href="https://www.facebook.com/share/157riPbHvhq/?mibextid=wwXIfr" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
        <path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M37,19h-2c-2.14,0-3,0.5-3,2 v3h5l-1,5h-4v15h-5V29h-4v-5h4v-3c0-4,2-7,6-7c2.9,0,4,1,4,1V19z"></path>
        </svg>
        </a>

        <a href="https://www.youtube.com/@eyeagle_ai?si=JsVgBSwxqc5rJTPW" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="34" fill="none" viewBox="0 0 28 20"><path fill="black" d="M11.83.005c-2.96.056-4.594.12-6.14.237C3.805.385 3.093.511 2.475.81c-.357.173-.62.357-.92.648C.825 2.173.53 2.913.321 4.569l-.085.67a45 45 0 0 0-.162 2.222c-.099 2.083-.099 2.994 0 5.083.03.662.121 1.906.162 2.221l.085.67c.21 1.657.503 2.397 1.234 3.112.714.696 1.393.95 3.008 1.118C6.72 19.89 9.763 20 14 20c3.646 0 6.203-.073 8.31-.235 1.899-.148 2.597-.27 3.215-.57.357-.173.62-.357.92-.648.73-.715 1.025-1.455 1.234-3.111l.085-.67c.04-.316.132-1.56.162-2.222.099-2.089.099-3 0-5.083a45 45 0 0 0-.162-2.221l-.085-.67c-.21-1.657-.503-2.397-1.234-3.112C25.956.98 25.43.695 24.736.536c-.983-.23-3.269-.397-6.684-.492A295 295 0 0 0 11.83.005m.192 6.266c1.055.611 2.063 1.195 5.324 3.08.594.341 1.083.635 1.083.651 0 .014-.789.484-1.753 1.04a2861 2861 0 0 0-5.511 3.187c-.014.006-.022-1.897-.022-4.226 0-2.33.008-4.232.022-4.227.01.003.395.226.857.495"></path></svg>
        </a>
        </div>
      </div>
        <div class="lg:flex grid gap-8 justify-center text-center items-center mb-6">
          {footerPolicy?.map((item)=>
            <a href={`${item.url}`} class="block">{item.title}</a>
          )}
        </div>
       </div>
      <p class="text-center font-sans-instrument font-normal text-sm leading-[1.4rem] opacity-70">{footerReserve}</p>
    </footer>
  </body>
</html>

<style is:global>
  /* Show styled scrollbar on desktop */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 8px;
  }

  html::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    background: transparent;
  }

  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  html::-webkit-scrollbar-thumb:hover,
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2);
  }

  /* Hide scrollbars on mobile */
  @media screen and (max-width: 768px) {
    html, body {
      -ms-overflow-style: none;  /* IE 10+ */
      scrollbar-width: none;     /* Firefox */
    }

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
      display: none;             /* Chrome, Safari */
    }
  }
</style>


<script is:inline define:vars={{ EyeagleLogoBlack, EyeagleLogo }}>
  let waitButton = document.getElementById('waitBtn');
  let footer = document.getElementById('footer');
  let hamburger = document.getElementById("hamburger");
  let mobileNavContent = document.getElementById("mobileNavContent");
  let account = document.getElementById('account');
  let accountDetails = document.getElementById('accountDetails');
  let crossButton = document.getElementById('crossButton');

  function toggleButtonVisibility() {
      const footerRect = footer.getBoundingClientRect();
      const buttonRect = waitButton.getBoundingClientRect();

      if (footerRect.top <= window.innerHeight && footerRect.bottom >= buttonRect.bottom) {
        waitButton.style.display = 'none'; // Hide button if it overlaps with the footer
      } else {
        waitButton.style.display = ''; // Show button otherwise
      }
    }

    window.addEventListener('scroll', toggleButtonVisibility);
    window.addEventListener('resize', toggleButtonVisibility);

  hamburger.addEventListener("click",function(){
    hamburger.style.display = "none";
    crossButton.style.display = "block";
    mobileNavContent.style.display = "";
  });

  crossButton.addEventListener("click",()=>{
    hamburger.style.display = "block";
    crossButton.style.display = "none";
    mobileNavContent.style.display = `none`;
  })

  account.addEventListener('click',()=>{
    let display = accountDetails.style.display
    accountDetails.style.display = `${display ? "" : "none"}`;
  })
  
</script>

