---
import EyeagleLogo from "../assets/Navbar/EyeagleLogo.png";
import EyeagleLogoBlack from "../assets/Navbar/EyeagleLogoBlack.png";
import EyeAgleFavIcon from "../assets/favicon.ico";
import {
  navLinks,
  userMenu,
  ctaButtonText,
  ctaHref,
  footerPolicyLinks,
  footerProductLinks,
  footerCompanyLinks,
  footerCopyright,
  socialLinks,
  siteMeta,
} from "../data/site";
import "../styles/global.css";
import { Image } from "astro:assets";
const {
  title = "EyEagle – Preventing Falls, Saving Lives",
  desc = "Discover EyEagle's advanced emergency alarm systems for the elderly. Ensure safety, peace of mind, and instant alerts in emergencies!",
  metaImage,
} = Astro.props;
const { pathname } = Astro.url;
const loginCredential = false;
const footerClass = Astro.props.footerClass ?? "";
const { noindex } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={desc} />
    <meta property="og:image" content={metaImage} />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content={`${Astro.site}${Astro.url.pathname}`} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {noindex && <meta name="robots" content="noindex" />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/xxxxxxx.css" />
    <link rel="icon" href={EyeAgleFavIcon} type="image/x-icon" />
    <script
      type="text/partytown"
      is:inline
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${siteMeta.gtmId}`}
    ></script>
    <script
      type="text/partytown"
      is:inline
      define:vars={{ gtmId: siteMeta.gtmId }}
    >
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", gtmId);
    </script>
    <script is:inline>
      !(function (t, e) {
        var o, n, p, r;
        e.__SV ||
          (window.posthog && window.posthog.__loaded) ||
          ((window.posthog = e),
          (e._i = []),
          (e.init = function (i, s, a) {
            function g(t, e) {
              var o = e.split(".");
              (2 == o.length && ((t = t[o[0]]), (e = o[1])),
                (t[e] = function () {
                  t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
                }));
            }
            (((p = t.createElement("script")).type = "text/javascript"),
              (p.crossOrigin = "anonymous"),
              (p.async = !0),
              (p.src =
                s.api_host.replace(".i.posthog.com", "-assets.i.posthog.com") +
                "/static/array.js"),
              (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(
                p,
                r,
              ));
            var u = e;
            for (
              void 0 !== a ? (u = e[a] = []) : (a = "posthog"),
                u.people = u.people || [],
                u.toString = function (t) {
                  var e = "posthog";
                  return (
                    "posthog" !== a && (e += "." + a),
                    t || (e += " (stub)"),
                    e
                  );
                },
                u.people.toString = function () {
                  return u.toString(1) + ".people (stub)";
                },
                o =
                  "init yi Ar jr mi Or Mr capture Li calculateEventProperties Nr register register_once register_for_session unregister unregister_for_session Br getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSurveysLoaded onSessionId getSurveys getActiveMatchingSurveys renderSurvey displaySurvey canRenderSurvey canRenderSurveyAsync identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty zr Lr createPersonProfile Hr Rr qr opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing get_explicit_consent_status is_capturing clear_opt_in_out_capturing Dr debug L Ur getPageViewId captureTraceFeedback captureTraceMetric Pr".split(
                    " ",
                  ),
                n = 0;
              n < o.length;
              n++
            )
              g(u, o[n]);
            e._i.push([i, s, a]);
          }),
          (e.__SV = 1));
      })(document, window.posthog || []);
      posthog.init("phc_DRoq88uBlB5Pgwkek6x8hvyZ3YgTiUlkwbbEt4eDCxh", {
        api_host: "https://eu.i.posthog.com",
        defaults: "2025-05-24",
        person_profiles: "identified_only", // or 'always' to create profiles for anonymous users as well
      });
    </script>
  </head>

  <body class="text-gray-900">
    <header
      id="myNav"
      class="fixed max-lg:hidden w-full top-0 z-40 right-0 px-10 py-4 bg-[#FFFFFF] shadow-[0px_6px_20px_0px_#0000000F]"
    >
      <nav class="flex items-center justify-around xl:container">
        <div class="flex gap-4">
          <a href="/" aria-label="EyEagle Home Page">
            <img
              src="/svg/tag-desktop.svg"
              alt="Your Guardian, Wherever You Are."
              class="h-[32px]"
              loading="lazy"
              decoding="async"
            />
          </a>
        </div>
        <ul
          class="hidden md:flex space-x-[26px] font-barlow pl-10 text-[15.4px] leading-[19.6px] tracking-[0.66px] font-medium px-4 mr-[14%]"
        >
          {
            navLinks.map((item) => {
              const isActive = item.children
                ? item.children.some((c) => pathname.startsWith(c.url))
                : pathname === item.url;

              return (
                <li class="relative">
                  {/* Normal links */}
                  {!item.children && (
                    <a
                      href={item.url}
                      class={`hover:underline ${
                        isActive
                          ? "text-[#CC0000]"
                          : "text-black hover:text-[#CC0000]"
                      }`}
                    >
                      {item.title}
                    </a>
                  )}
                  {/* Products dropdown */}
                  {item.children && (
                    <div class="group relative">
                      {/* Trigger */}
                      <span
                        class={`flex items-center gap-1 cursor-pointer ${
                          isActive
                            ? "text-[#CC0000]"
                            : "text-black group-hover:text-[#CC0000]"
                        }`}
                      >
                        {item.title}
                        <svg
                          class="w-3 h-3 transition-transform duration-200"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.25a.75.75 0 01-1.06 0L5.21 8.29a.75.75 0 01.02-1.08z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>

                      {/* Dropdown — NO GAP */}
                      <ul
                        class="absolute left-0 py-2 top-full hidden min-w-[200px]
                       rounded-lg bg-white shadow-lg border z-[9999]
                       group-hover:block"
                      >
                        {item.children.map((child) => (
                          <li>
                            <a
                              href={child.url}
                              class={`block px-4 py-2 text-sm ${
                                pathname === child.url
                                  ? "text-[#CC0000] font-medium"
                                  : "text-black hover:text-[#CC0000]"
                              } hover:bg-gray-100`}
                            >
                              {child.title}
                            </a>
                          </li>
                        ))}
                      </ul>
                    </div>
                  )}
                </li>
              );
            })
          }
        </ul>

        {
          pathname === "/plan/" ? (
            ""
          ) : (
            <div class="flex gap-5 justify-end">
              {/* <button class="relative">
          <Image id="account" src={Account} alt={'Account'}/>
        </button> */}
              <ul
                id="accountDetails"
                style={{ display: "none" }}
                class="absolute hover:cursor-pointer top-[85%] right-[13%] bg-white w-[8.5rem] rounded-xl font-sans-instrument font-normal text-lg"
              >
                {userMenu?.map((item) => (
                  <>
                    {!loginCredential && item.title === "Login" && (
                      <a href={`${item.url}`}>
                        <li class="p-3 hover:text-primary">{item.title}</li>
                      </a>
                    )}
                    {item.title !== "Login" && (
                      <a href={`${item.url}`}>
                        <li class="p-3 hover:text-primary">{item.title}</li>
                      </a>
                    )}
                  </>
                ))}
              </ul>
              {/* order button */}
              <a href={ctaHref}>
                <button class="bg-primary font-sans-instrument text-white px-4 py-3 text-base rounded-3xl font-semibold">
                  {ctaButtonText}
                </button>
              </a>
            </div>
          )
        }
      </nav>
    </header>
    <header
      id="mobileNav"
      class="lg:hidden sticky top-0 shadow z-40 bg-[#FFFFFF] w-full"
    >
      <nav class="flex justify-between items-center px-5 py-4">
        <div class="flex items-center gap-4">
          <a href="/" aria-label="EyEagle Home Page">
            <img
              src="/svg/tag-desktop.svg"
              alt="Preventing Falls, Saving Lives"
              class="h-[28px]"
              loading="lazy"
              decoding="async"
            />
          </a>
        </div>
        <div id="hamburger">
          <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="48" height="48" rx="24" fill="none"></rect>
            <path
              d="M12.3335 18.167H30.6668"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M12.3335 24H30.6668"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M12.3335 29.833H30.6668"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <div id="crossButton" style={{ display: "none" }}>
          <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="48" height="48" rx="24" fill="none"></rect>
            <path
              d="M29.8337 18.167L18.167 29.8337M18.167 18.167L29.8337 29.8337"
              stroke="#000000"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
      </nav>
    </header>
    <section
      id="mobileNavContent"
      style={{ display: "none" }}
      class="lg:hidden fixed z-[60] top-22 bg-white h-auto w-full text-center text-lg font-normal py-5 shadow"
    >
      <ul class="grid gap-6 font-sans-instrument text-base">
        {
          navLinks.map((item) => (
            <li class="text-center">
              {/* Normal link */}
              {!item.children && (
                <a href={item.url} class="block py-2 hover:text-primary">
                  {item.title}
                </a>
              )}

              {/* Products dropdown */}
              {item.children && (
                <div class="flex flex-col items-center">
                  {/* Trigger */}
                  <button
                    type="button"
                    class="flex items-center gap-2 py-2 font-medium hover:text-primary"
                    data-mobile-dropdown
                  >
                    {item.title}
                    <svg
                      class="w-4 h-4 transition-transform"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.25a.75.75 0 01-1.06 0L5.21 8.29a.75.75 0 01.02-1.08z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </button>
                  {/* Dropdown */}
                  <ul
                    class="mt-4 hidden w-full max-w-xs rounded-xl bg-gray-50 py-3 px-4 shadow-sm
                     space-y-3 text-sm"
                    data-mobile-dropdown-menu
                  >
                    {item.children.map((child) => (
                      <li>
                        <a
                          href={child.url}
                          class="block rounded-md py-2 px-3 hover:bg-white hover:text-primary"
                        >
                          {child.title}
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              )}
            </li>
          ))
        }
      </ul>
    </section>

    <main>
      <slot />
    </main>

    <footer
      id="footer"
      class={`py-16 lg:py-20 ${footerClass} bg-[#000000] text-white`}
    >
      <div class="flex lg:grid lg:grid-cols-2 flex-col">
        <div
          class="mx-4 lg:mx-[7.5rem] mb-4 lg:mb-10 flex flex-col gap-6 text-center lg:text-left items-center lg:items-start"
        >
          <img
            src="/svg/Logo.svg"
            alt="Preventing Falls, Saving Lives"
            class="h-[32px]"
            loading="lazy"
            decoding="async"
          />
          <div class="flex justify-center lg:justify-start gap-4">
            <a
              href={socialLinks.linkedin}
              target="_blank"
              class="text-white hover:text-gray-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="32"
                height="32"
                viewBox="0 0 50 50"
                fill="currentColor"
              >
                <path
                  d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"
                ></path>
              </svg>
            </a>
            <!-- <a href={socialLinks.x} target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="32"
                height="32"
                viewBox="0 0 50 50"
              >
                <path
                  d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"
                ></path>
              </svg>
            </a> -->
            <a
              href={socialLinks.instagram}
              target="_blank"
              class="text-white hover:text-gray-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="32"
                height="32"
                fill="currentColor"
                viewBox="0 0 50 50"
              >
                <path
                  d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"
                ></path>
              </svg>
            </a>
            <a
              href={socialLinks.facebook}
              target="_blank"
              class="text-white hover:text-gray-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="32"
                height="32"
                fill="currentColor"
                viewBox="0 0 50 50"
              >
                <path
                  d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M37,19h-2c-2.14,0-3,0.5-3,2 v3h5l-1,5h-4v15h-5V29h-4v-5h4v-3c0-4,2-7,6-7c2.9,0,4,1,4,1V19z"
                ></path>
              </svg>
            </a>

            <a
              href={socialLinks.youtube}
              target="_blank"
              class="text-white hover:text-gray-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="34"
                height="34"
                fill="currentColor"
                viewBox="0 0 28 20"
                ><path
                  fill="currentColor"
                  d="M11.83.005c-2.96.056-4.594.12-6.14.237C3.805.385 3.093.511 2.475.81c-.357.173-.62.357-.92.648C.825 2.173.53 2.913.321 4.569l-.085.67a45 45 0 0 0-.162 2.222c-.099 2.083-.099 2.994 0 5.083.03.662.121 1.906.162 2.221l.085.67c.21 1.657.503 2.397 1.234 3.112.714.696 1.393.95 3.008 1.118C6.72 19.89 9.763 20 14 20c3.646 0 6.203-.073 8.31-.235 1.899-.148 2.597-.27 3.215-.57.357-.173.62-.357.92-.648.73-.715 1.025-1.455 1.234-3.111l.085-.67c.04-.316.132-1.56.162-2.222.099-2.089.099-3 0-5.083a45 45 0 0 0-.162-2.221l-.085-.67c-.21-1.657-.503-2.397-1.234-3.112C25.956.98 25.43.695 24.736.536c-.983-.23-3.269-.397-6.684-.492A295 295 0 0 0 11.83.005m.192 6.266c1.055.611 2.063 1.195 5.324 3.08.594.341 1.083.635 1.083.651 0 .014-.789.484-1.753 1.04a2861 2861 0 0 0-5.511 3.187c-.014.006-.022-1.897-.022-4.226 0-2.33.008-4.232.022-4.227.01.003.395.226.857.495"
                ></path></svg
              >
            </a>
          </div>
        </div>

        <div
          class="flex flex-row justify-center gap-x-3 gap-y-8 md:gap-x-20 text-start mt-10 md:mt-0 mx-4"
        >
          {/* PRODUCT */}
          <div class="flex flex-col gap-3 min-w-[100px]">
            <p class="font-semibold">Product</p>
            {
              footerProductLinks?.map((item) => (
                <a
                  href={item.url}
                  class="text-white/80 hover:text-white transition"
                >
                  {item.title}
                </a>
              ))
            }
          </div>

          {/* COMPANY */}
          <div class="flex flex-col gap-3 min-w-[100px]">
            <p class="font-semibold">Company</p>
            {
              footerCompanyLinks?.map((item) => (
                <a
                  href={item.url}
                  class="text-white/80 hover:text-white transition"
                >
                  {item.title}
                </a>
              ))
            }
          </div>

          {/* RESOURCES */}
          <div class="flex flex-col gap-3 min-w-[100px]">
            <p class="font-semibold">Resources</p>
            {
              footerPolicyLinks?.map((item) => (
                <a
                  href={item.url}
                  class="text-white/80 hover:text-white transition"
                >
                  {item.title}
                </a>
              ))
            }
          </div>
        </div>
      </div>

      <p
        class="text-center font-normal text-sm leading-[1.4rem] opacity-70 mt-20"
      >
        {footerCopyright}
      </p>
    </footer>
  </body>
</html>

<style is:global>
  /* Show styled scrollbar on desktop */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 8px;
  }

  html::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    background: transparent;
  }

  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  html,
  body,
  h1,
  h2,
  h3,
  p {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  html::-webkit-scrollbar-thumb:hover,
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2);
  }

  article img {
    border-radius: 16px;
  }

  /* Hide scrollbars on mobile */
  @media screen and (max-width: 768px) {
    html,
    body {
      -ms-overflow-style: none; /* IE 10+ */
      scrollbar-width: none; /* Firefox */
    }

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }
  }
</style>

<script is:inline define:vars={{ EyeagleLogoBlack, EyeagleLogo }}>
  let waitButton = document.getElementById("waitBtn");
  let footer = document.getElementById("footer");
  let hamburger = document.getElementById("hamburger");
  let mobileNavContent = document.getElementById("mobileNavContent");
  let account = document.getElementById("account");
  let accountDetails = document.getElementById("accountDetails");
  let crossButton = document.getElementById("crossButton");

  function toggleButtonVisibility() {
    const footerRect = footer.getBoundingClientRect();
    const buttonRect = waitButton.getBoundingClientRect();

    if (
      footerRect.top <= window.innerHeight &&
      footerRect.bottom >= buttonRect.bottom
    ) {
      waitButton.style.display = "none"; // Hide button if it overlaps with the footer
    } else {
      waitButton.style.display = ""; // Show button otherwise
    }
  }

  window.addEventListener("scroll", toggleButtonVisibility);
  window.addEventListener("resize", toggleButtonVisibility);

  hamburger?.addEventListener("click", function () {
    hamburger.style.display = "none";
    crossButton.style.display = "block";
    mobileNavContent.style.display = "";
  });

  crossButton?.addEventListener("click", () => {
    hamburger.style.display = "block";
    crossButton.style.display = "none";
    mobileNavContent.style.display = `none`;
  });

  account?.addEventListener("click", () => {
    let display = accountDetails.style.display;
    accountDetails.style.display = `${display ? "" : "none"}`;
  });
</script>
<script is:inline>
  document.querySelectorAll("[data-mobile-dropdown]").forEach((btn) => {
    btn.addEventListener("click", () => {
      const menu = btn.nextElementSibling;
      const arrow = btn.querySelector("svg");

      menu.classList.toggle("hidden");
      arrow?.classList.toggle("rotate-180");
    });
  });
</script>
