---
import { Image } from "astro:assets";
import { explanations } from "../constants/manifesto";
---

<section class="bg-[#F6F4F2] font-sans-instrument pb-10 sm:pb-20 ">
  <div class="flex flex-col md:flex-col sm:flex-row items-center justify-center px-10 sm:px-[80px] gap-10 md:gap-5 sm:gap-[88px]  py-10 lg:pb-[60px] xl:container">
    <h1 class="text-[32px] md:text-[32px] sm:text-[52px] max-w-full  text-center sm:text-left">
      Our Comprehensive <span class="text-[#CC0000]">PIDANA</span> Protocol: Leaving No Stone Unturned
    </h1>
    <p class="text-[16px] sm:text-[18px] max-w-full  text-center sm:text-left">
      At EyEagle, we believe in absolute safety. That’s why we’ve developed the PIDANA Protocol—a meticulous safety framework designed to ensure your bathroom is as safe as possible for your loved ones. Our protocol covers every aspect of bathroom safety, from prevention to immediate emergency response.
    </p>
  </div>
  <div class="px-6 sm:px-[80px] grid gap-[48px] sm:gap-10 xl:container">
    {explanations.map((explanation) => (
      <div  class="flex flex-col md:flex-row md:items-center lg:flex-row items-center sm:items-start justify-between gap-[80px] sm:gap-10">
        <div class="flex flex-col items-start w-full sm:w-auto ">
          <div class="mb-4 h-[36px] w-[36px] rounded-full bg-[#CC0000] flex items-center justify-center text-white">
            <p>{explanation.title[0]}</p>
          </div>
          <div class="flex gap-4 sm:gap-5">
            <div>
              <h3 class="font-medium text-[20px] sm:text-[32px]">{explanation.title}</h3>
              <p class="text-[14px] sm:text-[18px] max-w-full sm:max-w-[481px]">
                {explanation.description}
              </p>
            </div>
          </div>
        </div>
        <div class=" rounded-lg overflow-hidden">
          <Image src={explanation.imgSrc} class="w-full h-full object-cover" alt={explanation.title} />
        </div>
      </div>
    ))}
  </div>
</section>
