---
import Image from "../common/OptimizedImage.astro";
import {WorldSafetyData} from "../constants/manifesto";
---

<section class="bg-[#FFFFFF] font-sans-instrument pb-10 sm:pb-20 px-5 py-10 lg:py-50 lg:px-10 xl:container">
 <div>
    <p class="font-medium text-[32px] lg:text-[72px] text-center text-[#666666] lg:max-w-280 m-auto leading-12.5 lg:leading-25 pb-10 lg:pb-50">{WorldSafetyData.title}</p>
 </div>
 <div class="flex flex-col gap-10 lg:gap-23.25 justify-center items-center">
    {
        WorldSafetyData.contextList.map((context,index) => (
<div class={`flex flex-col lg:flex-row gap-10 lg:gap-30 justify-start items-center  ${index % 2 !==0 && "lg:flex lg:flex-row-reverse"}`}>
    <div class="h-88.5 w-88.25 lg:h-125 lg:w-125 rounded-lg">
    <Image src={context.imgSrc} class="lg:min-w-125 h-full m-auto object-contain rounded-lg" alt={context.title} />
    </div>
    <div class={`flex flex-col gap-3 justify-center items-center lg:items-start `}>
<p class="font-medium text-[32px] lg:text-[48px] leading-13">{context.title}</p>
<ul class="list-disc px-6 ">
 {context.lists.map((list)=>(<li class="leading-8 font-medium text-[18px] lg:text-[20px]">{list}</li>))}
</ul>
    </div>
</div>
        ))
    }
    </div>

</section>
